[2019-11-01 13:56] maxandersen opened #31 "pretty print the xml edited by the kogito plugin so github diff view actually works"
i.e. trying to use editor editing https://github.com/quarkusio/quarkus-quickstarts/blob/master/using-kogito/src/main/resources/org/acme/kogito/persons.bpmn2 you end up with a massive diff just to change the position of a box.

The actual diff is just a single parameter change.

if the plugin would pretty print the generated xml this would be  a much smoother experience.

[2019-11-01 16:24] tiagobento commented on #31
Hi @maxandersen! Thanks for your suggestion. I guess pretty-printing the output would indeed result in better diffs. Of course some times the "formatting" we use to pretty-print would differ from the original format of the file, but I guess on a second run, if changing a file that's been previously formatted by us, we would have a much nicer diff than a one-liner.

[2019-11-01 17:50] ederign commented on #31
@romartin I think there is already a JIRA for this one right?

[2019-11-01 18:20] tiagobento commented on #31
One thing I noticed is that even though we format the XML, some properties change regardless. Take a look:

![image](https://user-images.githubusercontent.com/1584568/68046607-07b69180-fcbb-11e9-9bdd-22a5eaaf24a6.png)

The only change I did on the diagram was renaming the "Exclusive gateway", but those (and many other) ids were also changed.

[2019-11-01 21:27] maxandersen commented on #31
That diff is still better than the past one.
But yeah, would have been nice if you had stable ids but I guess we can't get everything :)

[2019-11-04 22:30] romartin commented on #31
Hey @ederign @maxandersen @tiagobento
Yeah I think somebody already pointed that out, the exported BPMN process (in XML format) is not properly pretty-pinted on the kogito environment. I'd searching for that ticket and I cannot find it, so would appreciate if you can plz some of you guys report the issue, thanks in advance for the collaboration!

[2019-11-04 22:47] romartin commented on #31
ok thanks @porcelli - you just reported https://issues.jboss.org/browse/KOGITO-541
<3

[2019-11-05 18:16] #31 closed

[2019-12-17 09:15] martijnburger opened #46 "Installing chrome extension gives error"
When Installing Chrome extension 0.2.6 I get the following error:

Permission '*://*.github.com' is unknown or URL pattern is malformed.

[2020-01-08 14:41] tiagobento commented on #46
Hi @martijnburger! Thx for reporting that to us. Is it an error or a warning? I've seen that as I warning on my installations. Anyway, we're going to prioritise this issue accordingly.

[2020-01-08 14:47] tiagobento commented on #46
Corresponding JIRA: https://issues.redhat.com/browse/AF-2403

[2020-01-08 15:48] #46 closed

[2020-02-06 18:44] dmarrazzo opened #63 "How to create the vsix package?"
Hi all, I built the extension, how can I create a .vsix file?

[2020-02-06 20:45] ederign commented on #63
Hi @dmarrazzo,

Go to: packages/vscode-extension-pack-kogito-kie-editors

And run: yarn run pack-extension

The vsix file will be in dist directory.

[2020-02-06 20:52] dmarrazzo commented on #63
Great! Thank you

[2020-02-06 20:52] #63 closed

[2020-03-03 10:50] r00ta opened #69 "[VSCode] Undo is not supported in some cases"
Hi,

I noticed that the undo in VSCode is not working in some cases, for example when you create a decision or new input nodes (and so on).
In addition to those cases, it does not work when you set the type for the decisions and you try undo the steps (but actually in those cases I might agree that the undo should just work on the visual components, i.e. it should not undo stuff on the background

[2020-03-03 14:23] pefernan commented on #69
@roota that's expected for now, the Undo/Redo commands from vscode are not yet bound to the extension state control. We are aiming to the new VSCode API to finally doing it.

Thanks for your message, I'll keep you posted as soon as we integrate it.

[2020-03-04 10:08] pefernan commented on #69
@r00ta I'll be tackling the issue on this JIRA https://issues.redhat.com/browse/KOGITO-883, hopefully it will be ready soon ;)

[2020-03-12 08:16] pefernan commented on #69
Fixed by: https://github.com/kiegroup/kogito-tooling/commit/b203e71065a8d5bde6a364c0ca7bf47f537d18c8

[2020-03-12 08:16] #69 closed

[2020-04-17 08:35] rahgadda opened #133 "Unable to load bpmn2 files in vscode"
Hi Team,

I tried installing 0.4.0 (alpha) version and unable to load persons.bpmn2 file i my VSCode.
I have attached screenshots of the issue that I am facing.

![Issue](https://user-images.githubusercontent.com/13075415/79549342-7db98400-80b4-11ea-97ad-c0f41a08011e.png)

Regards,
Rahul

[2020-04-17 12:23] ederign commented on #133
Hi @rahgadda how are you today?

We are packing our extension with the new VSCode Custom webview proposed API. In order to use it via command line, you have to run VS Code with the following command:

OSX: code --enable-proposed-api kiegroup.vscode-extension-pack-kogito-kie-editors
Linux/Windows: code --enable-proposed-api kiegroup.vscode-extension-pack-kogito-kie-editors

I hope it helps

EI

[2020-04-17 14:06] ederign commented on #133
Feel free to reopen if this doesn't fix for you! :)

[2020-04-17 14:06] #133 closed

[2020-04-18 02:55] rahgadda commented on #133
Sorry @ederign I tried to open my folder with `code --enable-proposed-api kiegroup.vscode-extension-pack-kogito-kie-editors` but still, I am getting a blank screen.
![image](https://user-images.githubusercontent.com/13075415/79626487-249e2e80-814e-11ea-8eeb-33e279c34ccc.png)

Is there anything I have to do on VSCode to make it running.
If u see in my screenshot, all my bpmn, bpmn2 and dmn files ar

[2020-04-18 03:14] rahgadda opened #136 "Unable to load bpmn2 files in vscode `code --enable-proposed-api kiegroup.vscode-extension-pack-kogito-kie-editors` but still, I am getting a blank screen."
Sorry @ederign I tried to open my folder with `code --enable-proposed-api kiegroup.vscode-extension-pack-kogito-kie-editors` but still, I am getting a blank screen.
![image](https://user-images.githubusercontent.com/13075415/79626487-249e2e80-814e-11ea-8eeb-33e279c34ccc.png)

Is there anything I have to do on VSCode to make it running.
If u see in my screenshot, all my bpmn, bpmn2 and dmn files ar

[2020-04-24 13:27] ederign commented on #136
Hi @rahgadda, before running that code, did you close *all* your instances of VSCode?

[2020-05-06 14:20] #136 closed

[2020-06-10 13:28] riccardo-forina opened #173 "React should be a peer dependencies"
https://github.com/kiegroup/kogito-tooling/blob/master/packages/core-api/package.json#L15-L18

One think I noticed working on [the AtlasMap POC](https://github.com/riccardo-forina/atlasmap-kogito-tooling) is that I was getting the [Invalid Hook Call Warning
](https://reactjs.org/warnings/invalid-hook-call-warning.html) error in the console. Ultimately, it was due to `@kogito/core-api` declaring Re

[2020-06-11 09:19] milanhorvath commented on #136
It the issue already solved? As i have right now a VS code version 1.46.0 have installed the kogito bundle 0.5.0 but when opening any bpmn2 files just a blank screen appears

![image](https://user-images.githubusercontent.com/35398860/84368047-5cb57100-abd5-11ea-87c3-a8aea5e469e3.png)

[2020-06-11 09:19] milanhorvath commented on #136
i have tried to start the vs code on widnows 10 with command ```code --enable-proposed-api kiegroup.vscode-extension-pack-kogito-kie-editors```

[2020-06-11 09:23] milanhorvath commented on #136
@ederign should i create a new issue or can you reopen this one? or give me any advice how to proceed to get it working

[2020-06-11 11:40] milanhorvath opened #176 "After opening bpmn2 files in vs code with extension only black screen appears"
i have vs code 1.46.0 have installed the kogito bundle 0.5.0 after restart of vs code and starting it up with ```code --enable-proposed-api kiegroup.vscode-extension-pack-kogito-kie-editors``` and opening bpmn2 files i see just black screen

https://user-images.githubusercontent.com/35398860/84368047-5cb57100-abd5-11ea-87c3-a8aea5e469e3.png
![image](https://user-images.githubusercontent.com/353988

[2020-06-11 16:17] rafaeltuelho opened #178 "downloaded file from online editor keeps "new-file" as model name in DMN models"
When you download your DMN model file from the online editor it keeps `new-file` as the internal model name.
You can only change this in the raw XML.

[code]

[2020-06-11 16:53] ederign commented on #178
Progress tracked here: https://issues.redhat.com/browse/KOGITO-2432

[2020-06-15 13:07] karreiro commented on #178
This issue was closed by https://issues.redhat.com/browse/KOGITO-2432

[2020-06-15 13:07] #178 closed

[2020-06-16 13:19] tiagobento commented on #176
Hi @milanhorvath! Thanks for opening the issue.

`0.5.0` doesn't require VS Code to be started with the `--enable-proposed-api`. Can you also check if you have previous versions of the extension installed?

[2020-06-16 15:46] tiagobento commented on #173
Hi @riccardo-forina!

Thanks for reporting that. I'm glad to see you're using our packages :)

Initially, we thought that we should be the ones in control of React/ReactDOM versions, since some things that we offer as a library/framework is dependent on the React API. You can simply remove your declaration of React and ReactDOM on your modules so that no conflicting versions exist.

However, I als

[2020-06-17 07:16] milanhorvath commented on #176
Hi @tiagobento where can i check if there is any previous version installed. I had some weeks ago installed the previous version of the extension using the vsix file. After that time i have upgraded the vs code to 1.46.0 and then after viewing the extensions marketplace i could only find the kogito bundle 0.5.0 which i have installed. I cannot see any other kogito extensions in there. So is there

[2020-06-17 08:08] milanhorvath commented on #176
Hi @tiagobento! i have found the bpmn editor 0.4.1, that was installed on my vs code. I have uninstalled it and now it started working correctly. So now i can open bpmn2 files.
Thanks for help

[2020-06-17 08:08] #176 closed

[2020-06-19 08:19] riccardo-forina commented on #173
React requires a single instance of React DOM for it to properly work. React and React DOM should be a dependency of the final consumer. Taking the template as an example, React and React DOM should be declared as a dependency of the `chrome-extension-pack-simple-react` and `vscode-extension-pack-simple-react` packages that are the "final" outputs. `simple-react-editor` should also declare React a

[2020-06-22 14:21] tiagobento commented on #173
Oh yes... Let me begin by apologising, but the thing is that our `kogito-tooling-examples` repo is a little bit out of date 😅

@caponetto Is currently working on updating the repo so that these issues are fixed.

On our packages in the `kogito-tooling` repo, we treat React and ReactDOM as externals (using WebPack) and rely on it being transitively downloaded by `@kogito-tooling/core-api`. This mak

[2020-06-22 14:28] riccardo-forina commented on #173
I mean, your project your rules :D

Let's say that this would be quite an exception in the npm ecosystem and would limit peers to use the provided template and tools (what if I don't want to use webpack? Sure things like rollup allow for declaring external global dependencies, but I don't see why adding this cognitive burden to users).

[2020-06-22 15:29] tiagobento commented on #173
Yeah, I understand. My main concern when letting the user decide their version of React/ReactDOM is that they choose one that is not compatible with what we deliver. I know `peerDependencies` is there to **warn** people about that, but it's still error prone.. I guess we can't have it all, right? :)

Thanks again for raising this issue. We'll create a ticket for that and prioritise it accordingly.

[2020-06-29 17:45] tiagobento commented on #173
Created https://issues.redhat.com/browse/KOGITO-2573. I'll comment here as we have updates.

[2020-07-10 16:35] tiagobento commented on #173
@riccardo-forina I've been thinking about this issue a lot, but I think here's what makes the most sense to me.

When you're creating `Editor`s in React, the package containing them is responsible for providing a React component that's actually an editor, so essentially, this package is a 'library'. Let's say you create a package called `my-editor`.

Of course, to run this editor, you'll need an '

[2020-07-10 16:35] tiagobento commented on #173
cc @manstis

[2020-07-10 16:42] riccardo-forina commented on #173
Yup I think I’m with you. If I may, check out [tsdx](https://github.com/formik/tsdx) as a library boilerplate generator. It uses rollup under the hood that’s more suited to create libraries than webpack and makes working with this stuff easier.

[2020-07-10 16:54] tiagobento commented on #173
@riccardo-forina Thanks for the tip! :)

I'll keep updating this issue until we have the ideal package hierarchy.

[2020-07-21 14:45] tiagobento opened #221 "Run FDB"
This issue's purpose is to provide means for people to build Kogito Tooling using their forks of the DMN, BPMN and Test Scenario editors. To trigger a build, comment using the following format:

`Build: {my-github-username}/{my-branch-name}`

This will trigger a build of the downstream repositories and will take your branch into account. The resulting artifacts can be downloaded from the Artifacts

[2020-07-21 16:41] tiagobento commented on #221
Build: paulovmr/ci-test2

[2020-07-21 19:32] danielzhe commented on #221
Build: danielzhe/KOGITO-543

[2020-07-22 18:17] danielzhe commented on #221
Build: danielzhe/KOGITO-543

[2020-07-23 15:10] paulovmr commented on #221
Build: paulovmr/ci-test2

[2020-07-23 15:30] jstastny-cz commented on #221
Build: yesamer/KOGITO-1716

[2020-07-23 17:11] ederign commented on #221
Build: yesamer/KOGITO-1716

[2020-07-24 15:33] karreiro commented on #221
Build: danielzhe/KOGITO-543

[2020-07-24 18:37] paulovmr commented on #221
Build: paulovmr/test-ci

[2020-07-27 19:00] paulovmr commented on #221
Build: paulovmr/KOGITO-2891-master

[2020-07-30 19:36] karreiro commented on #221
Build: yesamer/KOGITO-2761

[2020-07-30 19:40] karreiro commented on #221
Build: yesamer/KOGITO-2761

[2020-07-30 20:05] paulovmr commented on #221
Build: yesamer/KOGITO-2761

[2020-07-30 20:25] karreiro commented on #221
Build: handreyrc/KOGITO-2899

[2020-07-31 16:40] karreiro commented on #221
Build: handreyrc/KOGITO-2899

[2020-08-03 14:28] tiagobento commented on #221
Build: tiagobento/improved-embedded-editor-to-PR

[2020-08-04 21:18] tiagobento commented on #221
Build: paulovmr/KOGITO-735-master

[2020-08-04 21:45] tiagobento commented on #173
We removed the `core-api` module in favor of a more suitable package organization. React is no longer a hard-dependency for creatin Editors. Thank you @riccardo-forina for pointing that out! Expect more news around our tooling for creating your own Editors soon. Closing the issue.

[2020-08-04 21:45] #173 closed

[2020-08-05 11:51] jstastny-cz commented on #221
Build: yesamer/KOGITO-2761

[2020-08-05 15:21] paulovmr commented on #221
Build: yesamer/KOGITO-2761

[2020-08-05 15:24] tiagobento commented on #221
Build: paulovmr/KOGITO-735-master

[2020-08-05 19:43] paulovmr commented on #221
Build: paulovmr/KOGITO-735-master

[2020-08-05 20:19] paulovmr commented on #221
Build: manstis/FAI-235

[2020-08-11 13:28] jstastny-cz commented on #221
Build: yesamer/KOGITO-2060

[2020-08-12 01:25] karreiro commented on #221
Build yesamer/KOGITO-2895

[2020-08-12 01:27] karreiro commented on #221
Build: yesamer/KOGITO-2895

[2020-08-13 17:34] ederign commented on #221
Build romartin/BAPL-678

[2020-08-13 17:35] ederign commented on #221
Build: romartin/BAPL-678

[2020-08-13 19:00] karreiro commented on #221
Build: romartin/KOGITO-2237

[2020-08-24 16:22] karreiro commented on #221
Build: romartin/KOGITO-2237

[2020-08-24 19:25] tiagobento commented on #221
Build: danielzhe/KOGITO-543

[2020-08-25 13:54] tiagobento commented on #221
Build: danielzhe/KOGITO-543

[2020-08-27 14:17] tiagobento commented on #221
Build: porcelli-forks/gwt290

[2020-08-27 18:44] tiagobento commented on #221
@porcelli Take a look. I've built the Editors using your GWT 2.9 branch. You can use the link above to test it if you want :)

[2020-09-02 23:03] ederign commented on #221
Build: romartin/BAPL-678

[2020-09-02 23:04] romartin opened #265 "Test romartin/BAPL-678"
Build: romartin/BAPL-678

[2020-09-02 23:37] #265 closed

[2020-09-03 00:45] ederign commented on #221
Build: romartin/BAPL-678

[2020-09-04 15:47] karreiro commented on #221
Build: yesamer/KOGITO-2895

[2020-09-07 11:27] jstastny-cz commented on #221
Build: yesamer/KOGITO-3152

[2020-09-08 12:23] karreiro commented on #221
Build: kiegroup/master

[2020-09-09 12:48] jstastny-cz commented on #221
Build: yesamer/KOGITO-3152

[2020-09-24 20:20] paulovmr commented on #221
Build: karreiro/RHDM-1346

[2020-09-25 13:44] paulovmr commented on #221
Build: karreiro/RHDM-1346

[2020-10-13 14:08] jstastny-cz commented on #221
Build: yesamer/KOGITO-2348

[2020-10-23 02:47] einverne opened #294 "Will there be a tool for edit gdst Guided Decision Table?"
I have used KIE workbench for quite a long time but I wanna search for an alternative tool to modeling Guided Decision Table and Business Process. I found this kogito tool provider a great model tool for BPMN and DMN, but I cannot found any editor for GDST file. Is there any plan for it?

[2020-10-23 14:03] ederign commented on #294
Hi @einverne, unfortunately, and due to resource constraints, a GDST is currently not on our short/mid-term roadmap.

[2020-10-23 14:40] einverne commented on #294
Thank you for this quick response. I close the issue now.

[2020-10-23 14:40] #294 closed

[2020-10-26 16:48] himanshu-sharma073 opened #300 "Online Editor Doesn't Have Include Models Option"
When we open a DMN file in VS Code extension, we get an option to include model from other dmns as shown in below snapshot.
![image](https://user-images.githubusercontent.com/53901880/97200759-a0e98c80-17d7-11eb-89ab-3b8289a42963.png)
But this option is not present in Online Editor. Will this be part of the roadmap?

[2020-10-26 19:17] tiagobento commented on #300
Hi @himanshu-sharma073! Thanks for filling an issue.

The ability to read 3rd-party files (in that case, included models) is currently only supported on VS Code. This work in something on our radar but not currently a short term priority.

An implementation of this feature on our Desktop application would be pretty straightforward, though. That's also a nice opportunity for a community contributio

[2020-11-05 23:40] #300 closed

[2020-11-10 07:33] bixiaocong opened #309 "How to use this tool in web?"

[2020-11-10 13:09] einverne opened #310 "How can I add support to a custom task?"
I export some bpmn files from KIE workbench, then I found there is a `bpmn2:task` tag in bpmn file which this kogito-tooling is not currently supported. I tried to build and run the project. But I cannot found a way to modify it. Are there any instructions to show how to add support to this kind of task node?

[code]

[2020-11-11 02:50] einverne commented on #310
Related https://issues.redhat.com/browse/KOGITO-3529

[2020-11-11 02:52] quyuanbo commented on #310
similarly, i wonder how to remove or hide some types of node in the kie palette area.

[2020-11-11 21:41] ljmotta commented on #309
Hi there, check it out the [kogito tooling examples repository](https://github.com/kiegroup/kogito-tooling-examples)! It has a [web application](https://github.com/kiegroup/kogito-tooling-examples/tree/master/packages/webapp) example built with React.

[2020-11-11 22:27] ederign commented on #310
Hi @einverne and @quyuanbo first of all thanks for trying kogito tooling! :)

@romartin can give you clarifications about support for bpmn2:task on BPMN editor?

@quyuanbo currently we don't support removing/hiding our default nodes from our default palette. Could you please give more details of what is exactly your use case?

[2020-11-11 22:29] ederign commented on #309
Adding to what @ljmotta replied, @bixiaocong could you please give more details of your use case?

Do you want to use kogito tooling to write your web apps or to embed BPMN/DMN editor on your apps? Or it's another thing?

[2020-11-12 11:25] rasa-app commented on #310
I have same problem. I created a bpmn file in workbench that works fine
but after opening and saving with BPMN Editor in vscode it modifies ```bpmn2:task``` like I show in blow:

**Original(created with KIE workbench):**
[code]

**After open and save with BPMN Editor in vscode:**
[code]

[2020-11-12 14:03] ederign commented on #310
Hi @einverne and @rasa-app!

Looks like both your issues are related to custom work item definition support and custom tasks.

We kind have initial support for WID, it's just a matter of placing the wid file in the same directory of your bpmn file on VS Code.

But keep in mind the following limitations:

- The wid parser currently is a POC. The official implementation is tracked here: https://issu

[2020-11-16 14:07] romartin commented on #310
thanks @ederign for your response, I also think there is no bug. In case the custom tasks are not declared for kogito (so they don't appear on the left-hand palette as well), the marshaller generates just a regular task node.
Anyway, please @einverne try to create the right .wid file in same directory as your process is placed, and let us know if then the export is successful.
Thanks!

[2020-11-21 15:11] maysharma opened #325 "Cannot Include DMNs on VS Code- Kogito Bundle on Windows"
[Using Kogito Bundle in VS code on Windows.
When I try to include another DMN in the current DMN via "Include Models" > "Include Model", I dont see the existing DMNs in the "Models" drop down list even though the DMNs exist in the same directory.

However this issue doesn't seem to happen on a Linux Desktop.

Using Kogito Bundle v0.8.0

-------------------------------------------------------------

[2020-11-23 17:30] ederign commented on #325
@maysharma thanks for the detailed description.

We are tracking this issue on https://issues.redhat.com/browse/KOGITO-3901 .

[2020-11-24 21:00] ljmotta commented on #309
Hi @bixiaocong . I'll close this issue, but feel free to ask to re-open it if you need.

[2020-11-24 21:00] #309 closed

[2020-12-01 19:16] Josephblt commented on #221
Build: josephblt/JBPM-9472

[2020-12-01 19:20] Josephblt commented on #221
Build: Josephblt/JBPM-9472

[2020-12-01 19:47] Josephblt commented on #221
Build: Josephblt/JBPM-9472

[2020-12-10 10:55] tomasdavidorg commented on #221
Build: tomasdavidorg/fix_missing_dist

[2020-12-16 05:03] Josephblt commented on #221
Build: josephblt/KOGITO-3998

[2021-01-03 23:22] Josephblt commented on #221
Build: josephblt/KOGITO-3932

[2021-01-07 13:20] tiagobento commented on #221
Build: mbiarnes/r7.48.0.Final

[2021-01-07 15:07] tiagobento commented on #221
Build: kiegroup/r7.48.0.Final

[2021-01-07 15:27] tiagobento commented on #221
Build: kiegroup/r7.48.0.Final

[2021-01-07 16:08] tiagobento commented on #221
Build: kiegroup/r7.48.0.Final

[2021-01-07 16:22] tiagobento commented on #221
Build: kiegroup/r7.48.0.Final

[2021-01-11 21:58] tiagobento commented on #221
Build: kiegroup/r7.48.0.Final

[2021-01-12 17:00] mbiarnes commented on #221
Build: kiegroup/r7.48.0.Final

[2021-01-14 08:19] jstastny-cz commented on #221
Build: yesamer/KOGITO-4122

[2021-01-21 14:23] caponetto commented on #221
Build: adrielparedes:KOGITO-3846

[2021-01-21 14:23] caponetto commented on #221
Build: adrielparedes/KOGITO-3846

[2021-01-25 17:34] ederign commented on #325
This issue was fixed on master: https://github.com/kiegroup/kogito-tooling/pull/391

This will be part of the 0.8.3 release. (on the following weeks).

[2021-01-27 15:20] Josephblt commented on #221
Build: josephblt/DROOLS-5911

[2021-01-29 08:22] kie-ci commented on #221
Build: kiegroup/r7.49.0.Final

[2021-02-03 01:40] kie-ci commented on #221
Build: kiegroup/r7.49.0.Final

[2021-02-03 13:45] tiagobento commented on #221
Build: kiegroup/r7.49.0.Final

[2021-02-03 14:02] tiagobento commented on #221
Build: kiegroup/r7.49.0.Final

[2021-02-09 23:59] ederign commented on #325
@maysharma we just released 0.8.3 version with this fix!

[2021-02-09 23:59] #325 closed

[2021-02-11 20:37] Josephblt commented on #221
Build: josephblt/JBPM-9586

[2021-02-12 12:48] Josephblt commented on #221
Build: josephblt/JBPM-9586

[2021-02-12 16:37] Josephblt commented on #221
Build: josephblt/KOGITO-3932

[2021-02-15 12:46] Josephblt commented on #221
Build: josephblt/JBPM-9586

[2021-02-15 12:48] Josephblt commented on #221
Build: josephblt/KOGITO-3932

[2021-02-15 14:08] paulovmr commented on #221
Build: kiegroup/master

[2021-02-15 14:53] tiagobento commented on #221
Build: kiegroup/r7.49.0.Final

[2021-02-15 21:29] kie-ci commented on #221
Build: kiegroup/r7.50.0.Final

[2021-02-17 20:59] tiagobento commented on #221
Build: kiegroup/r7.50.0.Final

[2021-02-17 22:28] tiagobento commented on #221
Build: kiegroup/r7.50.0.Final

[2021-02-18 14:28] manstis opened #425 "Using embedded editors"
Hi,

Please see https://github.com/kiegroup/kogito-apps/pull/654

I am unable to embed the `DmnEditor` following the instructions I can find.

Can you please assist.

[2021-02-18 16:23] tiagobento commented on #425
Hi @manstis ! What are the instructions you're using? From I see on your PR, the problem is likely the `origin: ''` parameter you're passing to the DMN Standalone Editor. Please don't pass any `origin` so that the default values are used.

[2021-02-18 16:54] manstis commented on #425
Great thank-you @tiagobento. `origin` removed and all good. Works fine.

[2021-02-18 16:54] #425 closed

[2021-02-23 14:22] clawoflight opened #429 "Support condition expressions in sequence flows"
Hi, could you add support for actually writing condition expressions?

The UI is already almost there:
![image](https://user-images.githubusercontent.com/1181744/108856998-ec2b7480-75ea-11eb-90df-59ac6b4c0675.png)

I would like to be able to express the following:

[code]

I can help, if provided some guidance :)

(this is a copy of https://github.com/kiegroup/kie-tooling-store/issues/39, which wa

[2021-02-24 21:48] ederign commented on #429
Hi @clawoflight first of all thanks for offering help!

@romartin is the lead of this area and can provide you assistance on this!

[2021-02-28 11:47] sualko opened #434 "Standalone editor and CSP"
Hi everyone,

I tried to integrate the standalone DME editor into a site with a strict CSP and as you may expect it only thrown a bunch of errors in the js console. After looking at the code I saw that there is an iframe loaded with a few inline scripts and a ton of other scripts.

[code]

Is there any way to get this working without creating my own bundled standalone editor? Why is the iframe nee

[2021-03-02 20:13] paulovmr commented on #434
Hi @sualko,

Those console errors are not related to CSP errors, but a known issue on this distribution. They can be safely ignored (soon we will fix those false alarms).

Regarding iframe usage, we mostly use them to isolate context from the outer application (micro front-end friendly). We don't use the iframe "src" attribute, but instead we use “srcdoc” to include all the necessary resources for

[2021-03-02 21:41] sualko commented on #434
I think they are related, because they need inline scripts and eval.

That's wrong, since the execution is stopped.

[2021-03-04 13:52] paulovmr commented on #434
@sualko If the errors you're having are different than the ones I mentioned ([tracked here](https://issues.redhat.com/browse/KOGITO-4152)), then I'll need a reproducer (or at least the log with the errors) to see them to be able to provide more information.

[2021-03-04 13:58] sualko commented on #434
Just create a site with `script-src 'nonce-foobar=' blob:;` as part of the csp and you will see errors that the scripts can't be executed due to missing nonce. You could also create a csp with `script-src 'self';` with the same error, because this application is generating inline script blogs. To overcome this issue you need something similar to webpacks [__webpack_nonce__](https://webpack.js.org/

[2021-03-04 14:22] paulovmr commented on #434
I've created a [JIRA](https://issues.redhat.com/browse/KOGITO-4590) to track this. We will analyze the issue and get back to you here.

[2021-03-09 16:10] tiagobento commented on #221
Build: kiegroup/r7.51.0.Final

[2021-03-11 21:52] Josephblt commented on #221
Build: josephblt/KOGITO-4078

[2021-03-12 09:14] kie-ci commented on #221
Build: kiegroup/r7.51.0.Final

[2021-03-31 00:02] kie-ci commented on #221
Build: kiegroup/r7.52.0.Final

[2021-03-31 15:08] tiagobento commented on #221
Build: kiegroup/r7.52.0.Final

[2021-04-06 18:08] ederign commented on #221
Build: kiegroup/r7.52.0.Final

[2021-04-09 20:23] ederign commented on #310
@einverne we did some improvements on this area on Kogito tooling 0.9.0. Could you please verify if it fixed your issue?

[2021-04-15 11:26] jomarko commented on #221
Build: romartin/RHDM-1647

[2021-04-15 12:06] jomarko commented on #221
Build: romartin/RHDM-1647

[2021-04-16 19:43] paulovmr commented on #221
Build: kiegroup/master

[2021-04-21 12:21] kie-ci commented on #221
Build: kiegroup/r7.53.0.Final

[2021-05-10 14:28] ederign commented on #310
@einverne I'm closing this one due to inactivity. If you need any further help or find any other issue, please let us know! Thanks.

[2021-05-10 14:28] #310 closed

[2021-05-13 08:08] kie-ci commented on #221
Build: kiegroup/r7.54.0.Final

[2021-05-13 11:55] tiagobento commented on #221
This issue has served its purpose and will no longer produce builds based on V7 Editors.

[2021-05-13 12:13] ederign commented on #221
![image](https://user-images.githubusercontent.com/531351/118124126-26730980-b3c3-11eb-92ac-2948d94e53a0.png)

[2021-05-13 12:14] ederign commented on #221
f

[2021-05-13 12:14] #221 closed

[2021-06-08 11:55] mareknovotny opened #529 "Describe proper setup of environment for build"
There is no section about how to setup the environment for the building from source at https://github.com/kiegroup/kogito-tooling/blob/master/README.md#build-from-source . What are minimal required versions of NodeJS, NPM, Yarn or any other tool like lerna.

[2021-06-08 14:03] tiagobento commented on #529
Hi Marek, these infos are on the "Develop" section on the README. See https://github.com/kiegroup/kogito-tooling/blob/master/README.md#develop. Lerna should be included there as well. Thanks for pointing that out.

[2021-06-08 14:06] tiagobento commented on #529
See #530.

[2021-06-08 14:24] mareknovotny commented on #529
well, i meant something more helpful to start from scratch. Like really minimal versions can be these on CI system, but it is not written like that so anybody can start with for instance NodeJS v14.17.0 which is LTS. So my idea was more on having strict border as minimal build tools versions.
If CI uses 16.2.0 and nobody will use older i would take it as the minimal required one.

[2021-06-08 15:45] tiagobento commented on #529
The CI is our source of truth, if the CI uses a version, everyone should be using that. Can you please review the PR with more concrete suggestions on what to improve?

[2021-06-10 19:38] tiagobento commented on #529
Fixed on #530

[2021-06-10 19:38] #529 closed

[2021-11-18 10:02] yangziran opened #683 "Parser message: (null: 13, 45): cvc-elt.1.a: Element not found 'bpmn2:definitions' Statement of。"
I use @kogito-tooling/kie-editors-standalone:^0.14.0 BpmnEditor

ERROR org.drools.core.xml.ExtensibleXmlParser - Node Info: id: name:
Parser message: (null: 13, 45): cvc-elt.1.a: Element not found 'bpmn2:definitions' Statement of。

I found the bpmn file context xmlns:xsi="xsi"  Should be xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

[2021-11-18 15:09] ederign commented on #683
hi @yangziran sorry to hear that you are experiencing this issue. Is it possible to share a bpmn to help us reproduce this?

[2021-11-24 13:25] yangziran commented on #683
i use drools version 7.61.0.Final

BpmnEditor generated content:
<bpmn2:definitions xmlns:bpmn2="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI" xmlns:bpsim="http://www.bpsim.org/schemas/1.0" xmlns:dc="http://www.omg.org/spec/DD/20100524/DC" xmlns:di="http://www.omg.org/spec/DD/20100524/DI" xmlns:drools="http://www.jboss.org/drools" xmlns:xsi="x

[2021-11-24 13:28] yangziran commented on #683
java demo
@Slf4j
class DroolsFlowTests {

    @Test
    void contextLoads() {

        Resource bpmnResource = ResourceFactory.newClassPathResource("DroolsFlow.bpmn2");
        assertNotNull(bpmnResource);
        log.info("{}", bpmnResource.getSourcePath());
        Resource drlResource = ResourceFactory.newClassPathResource("DroolsFlow.drl");
        assertNotNull(drlResource);
        log.info(

[2021-11-25 17:56] diegonc opened #696 "FEEL expression doesn't work on input list"
Hello, I hope this is the right bug tracker for my issue.

I have a DMN model, exported from the KIE sandbox as the following ZIP file [test-list-combiner.zip](https://github.com/kiegroup/kogito-tooling/files/7604694/test-list-combiner.zip).

There are two leaf filters which return either "Rejected" or "Approved". A list kind decision box aggregates its results in a list. Then the top level decisi

[2021-11-30 06:20] cheanwei opened #700 "BPMN file cannot be opened with BPMN Editor"
Issue Type: <b>Bug</b>

In the explorer view, click a file with .bpmn extension. The editor show an error message "Editor content has not been set."

Extension version: 0.15.0
VS Code version: Code 1.62.3 (ccbaa2d27e38e5afa3e5c21c1c7bef4657064247, 2021-11-17T07:59:13.865Z)
OS version: Darwin x64 19.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Inte

[2021-11-30 17:17] ederign commented on #700
@cheanwei thanks for reporting this and sorry for this experience. I wonder if you can share the BPMN model to further investigation.

[2021-12-03 12:36] cheanwei commented on #700
Here is one the bpmn source file content.
[code]

[2021-12-07 13:56] ederign commented on #700
@romartin or @handreyrc can you please take a look at it, when you have a chance?

[2021-12-08 15:51] Lrochefort opened #709 "[QUESTION] VSCode extension - how to create pools?"
Hi!

I don't see any options in the palette to create pools, and then add lanes in it.

Is there a way to do this in VSCode?

Absolute n00b here...

[2021-12-09 13:50] yesamer commented on #696
Hi @diegonc, sorry for the late reply.

To let your example work, please substitute the `Combine Filters` parameter of `list contains` function with `?` special character, like the following:

`contains( ? , "Rejected")`

![Screenshot from 2021-12-09 14-49-42](https://user-images.githubusercontent.com/16005046/145408505-b1951cc9-170b-4f5b-9ff9-4b1c98f752a2.png)

This is required whenever you need

[2021-12-09 15:17] diegonc commented on #696
Thanks! It's working now. I'll close this ticket since it's not a bug

[2021-12-09 15:17] #696 closed

[2021-12-15 07:56] sergey-volkov-lm commented on #700
Can not open any bpmn or bpmn2 file from kogito-examples on windows 10 (for example, `process-timer-springboot`). Having endless loading.

BPMN editor plugin v0.15.0
VS code v1.63.1 (system setup)
Windows 10 20H2

[2021-12-20 15:25] ddavidyuk opened #720 "Cannot use context merge / put FEEL functions in online-editor"
**Test case:**
1. Create a decision in Online Editor with type = literal expression and code: `context merge([{a: 1}, {b: 2}])`

**Expected Result:**
1. No validation errors

**Actual Result:**
1. Validation error: `ERR_COMPILING_FEEL: Error compiling FEEL expression 'context merge([{a: 1}, {b: 2}])' for name 'FEEL func' on node 'FEEL func': syntax error near 'merge'`

**Root cause:**
Looks like K

[2021-12-22 10:40] yesamer commented on #720
Hi @ddavidyuk!
That dependency is regularly updated, based on our internal planning. Therefore, I confirm that in the short term it will be updated. I created a JIRA ticket to track it, you can refer to it to know the status or add comments. https://issues.redhat.com/browse/KOGITO-6467

Thank you for using our products!

[2021-12-27 07:44] fangjiangz opened #727 "can not download kogito-tooling/build-env from npm repository"
I am installing project kie-editors-standalone，it failed， because that kogito-tooling/build-env  cannot be download. I searched it on npmjs, it cannot be found. could you kindly upload kogito-tooling/build-env package to npmjs?

[2021-12-28 14:53] tiagobento commented on #727
Hi @fangjiangz! `@kogito-tooling/build-env` is always a "devDependency", so it shouldn't be being transitively downloaded when you install `@kogito-tooling/kie-editors-standalone`. Can you please provide here the command you used and the output you got?

[2021-12-29 01:22] fangjiangz commented on #727
thanks @tiagobento 。I followed the blow guide in readme.
#### Standalone Editors

1. After you've successfully built the project following the instructions above, go to `packages/kie-editors-standalone`.
2. Open a terminal and run `yarn start`. This will start a `webpack serve` instance with the Standalone Editors test page.
3. From now on you can use the development version of the Standalone DMN

[2022-01-03 17:53] tiagobento commented on #727
@fangjiangz Thanks for the details. I still don't understand whether you're trying to consume the `@kogito-tooling/kie-editors-standalone` package or develop it. Can you please clarify?

[2022-01-07 07:54] ArvindGundimajalu opened #743 "BPMN:Property"
how do I add a BPMN:Property through the editor?
If I use the properties advanced option its adding a meta tag

[2022-01-11 15:18] Sciumo opened #745 "Missing "Decision Components" panel, Included Models do not show up"
### Problem
According to [Example including DMN Models](https://snandaku.medium.com/importing-and-reusing-dmn-models-using-red-hat-decision-manager-7b7bbd4d79e9)  when using the **Include Model** capability to include another DMN model, *which does work* there should then be a **Decisions Components** panel in the **Editor**  *which does not work*.

### How To Replicate

1) Create two DMN files (T

[2022-01-11 15:24] yesamer commented on #745
Hi @Sciumo, thank you for reporting this issue.
Can I ask you which environment (VSCode Extension, dmn.new, sandbox (https://sandbox.kie.org/)) and OS are you using please?
Thank you.

[2022-01-12 10:52] hasys commented on #709
Hi @Lrochefort,

no there is no way to add pools currently into the process currently in VSCode plugin.

[2022-01-14 15:32] StephenOTT opened #759 "button scaling not working with zoom in process editor - vs code"
<img width="992" alt="image" src="https://user-images.githubusercontent.com/1994838/149541381-a7cf7157-9210-44ae-b034-3bd7117092d3.png">

when you zoom out, the buttons get very small rather than scaling.

[2022-01-14 15:34] StephenOTT opened #760 "Unable to Pan (vertical and inconsistently horizontal) - vs code"
Holding Alt and then trying to pan does not work.  It can sometimes work for horizontal scrolling, but never works on vertical scrolling.

[2022-01-15 17:38] StephenOTT opened #763 "Provide ability to keep Property section open when switching between activities"
When switching between activities in a BPMN, you have tabs/sections such as Implementation/execution or Adv Data: It is difficult to compare configurations because after every activity change the user needs to re-open the section.

it would be great if the sections would stay open based on the user's previous actions or something similar.
Thanks

using vs-code

[2022-01-15 17:40] StephenOTT opened #764 "Typo `AdvancedData` should be `Advanced Data`?"
using vs code latest release.

In the Properties tab the Advanced Data section reads as "AdvancedData"

<img width="520" alt="image" src="https://user-images.githubusercontent.com/1994838/149631969-b8ae1ecd-f5c6-4a1a-950b-d9d418c1287f.png">

[2022-01-15 17:45] StephenOTT opened #765 "Notification Repeat for User Task: Broken UI"
<img width="788" alt="image" src="https://user-images.githubusercontent.com/1994838/149632129-afdac64d-b077-489e-ab5d-41ed0482c44d.png">

---

<img width="788" alt="image" src="https://user-images.githubusercontent.com/1994838/149632137-53b0cd11-3ad4-4426-8108-7c9c4b51cbb6.png">

If you manually drag the switch it shows, but the switch is broken and then shows Yes and no.

using vs-code

[2022-01-15 17:58] StephenOTT opened #766 "Sequence Flow selection is too aggressive and causes un-intended line adjustments"
using vs-code.  When select a sequence flow, the first click is most often to check the line's configuration, but the circle that adds a new node into the line for line adjustments is too aggressive and causes the line to move or change position when the user only wants to select the line.

[2022-01-15 18:30] StephenOTT opened #767 "cannot delete a process variable if being used by another activity: Needs Error messaging"
using vscode.  If you try and modify or delete a process variable and that variable is being used in another activity (such as in Input/Output mappings), the delete button does not do anything and if you try and modify the name of the variable, it just returns to its original value. There needs to be some error messaging indicating why you cannot modify/delete the variable and where to find the as

[2022-01-15 21:56] StephenOTT opened #768 "Process Modeler Properties Panel DSL for custom fields, modifications, templates, etc?"
Is there a DSL or a planned DSL (such as JSON or simplified JS) config that would allow customization of the properties panel in the process modeler?

Examples: Adding custom fields for specific types of input on specific activity types, adding help text to specific fields, adding templated configuration options such as "Connect to MS Graph" and it pre-populates all the configs, etc.

Thanks!

[2022-01-16 17:19] StephenOTT opened #769 "Process Linter"
Hey
I am looking at replicating similar features as: https://github.com/StephenOTT/Workflow-Linter and https://github.com/camunda/camunda-modeler-linter-plugin but for Kogito.

Has there been work on this capability within Kogito?

In the above links, I have combined two types of linting: UI Linter which parses in JS and displays in the UI, and then  a server linter (which the UI can also use): wh

[2022-01-16 18:24] StephenOTT commented on #769
Looks like i am looking for https://github.com/kiegroup/kogito-runtimes/blob/main/jbpm/jbpm-flow/src/main/java/org/jbpm/process/core/validation/ProcessValidatorRegistry.java#L47 ?

[2022-01-17 16:49] StephenOTT opened #770 "Manual Task Support / No Task Type support"
When building processes, a common process is to mock out the entire process and leave certain steps as "manual task" steps which are skipped over by the engine, until that task is ready for implementation.

This allows the business to understand the process they want to build, and the developer to build/code in parallel.

It seems that there is no Manual Task supported in the modeler, and you cann

[2022-01-17 20:17] StephenOTT commented on #769
Here is a good example:

If a user adds some metadata to a activity that is a duplicate of a existing metadata property, there is an error:

[code]

where i added a metadata property in the process variables of the process wth the name "id".  Obviously this conflicts with other IDs.

[2022-01-17 20:36] StephenOTT opened #772 "Expose the Activity/Node ID for items in processes"
consider the following:

[code]

This is from process-usertask-quarkus example project.

<img width="1834" alt="image" src="https://user-images.githubusercontent.com/1994838/149834038-c49e93b5-bc0c-4e05-b284-3d418ac1189f.png">

When node instances are shown:

<img width="558" alt="image" src="https://user-images.githubusercontent.com/1994838/149834099-6f785b2b-4cad-4cee-84df-1e6bdf15b0b7.png">

Th

[2022-01-17 20:42] StephenOTT opened #773 "Add ability to copy and paste User Task Actor and Group Information values (any non text form fields)"
The modeler provides helpers such as the Actor and Group selection field:

<img width="473" alt="image" src="https://user-images.githubusercontent.com/1994838/149834687-6fed6abf-df3d-4146-a740-968789db9d91.png">

But these fields make is very difficult to reuse configuration across BPMNs or across different tasks.

Consider that a UT will have multiple actors and multiple groups applied to it.  I

[2022-01-17 23:03] StephenOTT opened #774 "Adding tasks from contextual quick menu on a start event inside of a embedded sub-process attempt to create the task outside of the sub-process"
![image](https://user-images.githubusercontent.com/1994838/149845859-fd417a7b-c127-496d-8666-bfb9d3e8e88e.png)

using VS Code.

It will not let you place the task in the sub-process.

[2022-01-17 23:04] StephenOTT commented on #774
Appears to occur for any object you attempt to add using the hover menu.

[2022-01-17 23:34] StephenOTT opened #775 "CodeGen for processes uses unexpected unique id for task names: causes missing endpoints"
Consider endpoints such as:

<img width="1485" alt="image" src="https://user-images.githubusercontent.com/1994838/149847355-264faa85-d45d-4294-ab81-2c63767ac9da.png">

...

<img width="901" alt="image" src="https://user-images.githubusercontent.com/1994838/149847374-e344159c-32ae-43ad-98ef-4857507e8575.png">

and config that looks like this:

<img width="1630" alt="image" src="https://user-images.

[2022-01-17 23:41] StephenOTT commented on #775
has a similar issue where the Explorer window in the modeler is based on the label rather than the unique ID or name.  So if you have a lot of tasks with the same name like "Review Submission", "Make Payment", "Action Request", etc, it gets complicated.

<img width="1798" alt="image" src="https://user-images.githubusercontent.com/1994838/149848169-f6b39e42-0c8d-4225-92be-feeef419f14a.png">

[2022-01-18 13:56] StephenOTT commented on #775
Maybe should be moved into the runtime repo?

[2022-01-19 18:11] StephenOTT commented on #775
Related with https://github.com/kiegroup/kogito-runtimes/issues/1900

[2022-01-19 18:19] fjtirado commented on #775
Thats fine, lets discuss here.
Task name is suppose to be unique within a given process (thats not enforced by the editor though) but seems a reasonable assumption while designing the API

[2022-01-19 18:41] fjtirado commented on #775
So, maybe we should change TaskName to TaskId and enforce uniquenes, will that avoid confussion?

[2022-01-19 18:58] StephenOTT commented on #775
For Ui enforcing unique names of TaskName prop: https://issues.redhat.com/browse/KOGITO-6590

[2022-01-19 18:58] StephenOTT commented on #775
@fjtirado TaskId would be great.

[2022-01-19 19:20] fjtirado commented on #775
@StephenOTT can you open a JIRA for trackign that request?

[2022-01-19 19:27] StephenOTT commented on #775
TaskName conversion to TaskID issue: https://issues.redhat.com/browse/KOGITO-6593

[2022-01-19 21:57] StephenOTT commented on #770
Created ticket: https://issues.redhat.com/browse/KOGITO-6594

[2022-01-20 21:22] StephenOTT opened #782 "Process Modeler does not have Non-Interrupt versions of events?"
The docs say that Non-Interrupt events work in the engine.  But the modeler does not have them available.

haha Are they hidden? because i cannot for the life of me find them.

vs code with kogito tools extension

[2022-01-21 12:43] StephenOTT opened #784 "Process Modeler on VSCode needs support to move labels on Events"
Currently if you apply a boundary event on a task and apply a label/name to the event, the text is placed below the event.  This causes overlap of text on the task.  It makes it ~impossible to read.  The labels should be positionable.

[2022-01-25 20:22] sKniffin commented on #700
Is there a resolution to not being able to open any bpmn files with the BPMN editor on Windows?

[2022-01-25 20:23] StephenOTT opened #792 "Gateway creation should default to Exclusive Gateway not parallel."
The modeler for processes generates a parallel gateway by default.  The most common gateway tends to be Exclusive.  It would be great if the default was exclusive as "99% of the time" we are having to change from Parallel back to exclusive.

[2022-01-25 20:31] StephenOTT opened #793 "Changing Gateway type causes sequence flows to change position"
using vs code.

![breaking sequence flow](https://user-images.githubusercontent.com/1994838/151054844-cb1562dc-e02c-4d90-9b75-84089f92292f.gif)

[2022-01-25 20:36] StephenOTT commented on #793
another version
![seq2](https://user-images.githubusercontent.com/1994838/151055574-bfd1e3f0-8ae3-402a-bbd8-147e8f2473b2.gif)

[2022-01-25 20:40] StephenOTT opened #795 "Unable to move Event sequence flows and gateway labels"
<img width="521" alt="image" src="https://user-images.githubusercontent.com/1994838/151056019-cdefec75-f0ae-4d4a-996c-fc49be4c1a3c.png">

Event sequence flows and gateway labels need to be moveable as they have overlap most of the time and we need to manually position them.

[2022-01-25 20:41] StephenOTT commented on #782
Plus we need the ability to convert from a interrupt to a non-interrupt version.  Such as placing a timer, and then realizing you need to switch to non-interrupt.

[2022-01-25 20:42] StephenOTT opened #796 "Double clicking sequence flow should allow setting the name"
current we have to open the props panel to set the name of a sequence flow.  not being able to double click really slows down the creation of gateway logic and documenting the process

[2022-01-25 20:46] StephenOTT opened #797 "Creation of a embedded sub-process should have a start event added by default"
Kogito requires that a embedded sub process contains a blank start event.  The start event should be added by default.

[2022-01-25 20:52] StephenOTT opened #798 "Drag to select has weird behaviour"
consider:
![selection](https://user-images.githubusercontent.com/1994838/151057476-6fd62284-bc1e-412d-b3bd-676b8481a852.gif)

1. If you select a task with drag it selects the sequence flows but does not copy them when doing a CTRL+V/CTRL+P.

2. If you drag select a task and only partially touch the edge of another activity it selects that partially selected object.

Only fully drag covered element

[2022-01-25 20:57] StephenOTT opened #799 "Text Annotation lines are very difficult to move"
![annotationline](https://user-images.githubusercontent.com/1994838/151058426-df874ab0-d022-4b3a-a634-21756c5a2ee0.gif)

It seems the initial line is very difficult to select and add a movement node to.  Once it is created it seems easier.  But feels very weird.

[2022-01-25 21:01] StephenOTT opened #800 "User Task Notifications modal does not scale for smaller/laptop sizes"
using vs code:

<img width="1373" alt="image" src="https://user-images.githubusercontent.com/1994838/151059017-2ca189a5-b255-4eff-9946-5d882dfe1bfc.png">

Apple retina display with default scaling.

The notifications window is too wide and gets cut off.

[2022-01-25 21:03] StephenOTT opened #801 "User Task Assignments model is cut off on laptop screens"
<img width="1378" alt="image" src="https://user-images.githubusercontent.com/1994838/151059361-7a52273a-7a69-445f-8cda-41eb2cc12920.png">

vs code using mac retina display with default scaling.

[2022-01-25 21:04] StephenOTT commented on #801
Same issue for ReAssignments page:

<img width="1385" alt="image" src="https://user-images.githubusercontent.com/1994838/151059432-b1f74194-9340-413a-bf2c-2a8c7e74227d.png">

[2022-01-25 21:17] StephenOTT opened #802 "Call Activity should have "independent" checked by default"
most common usage of a call activity is to use it as a sub-process that returns to the parent when complete.  The default config has the "independent" unchecked.

[2022-01-25 21:18] StephenOTT opened #803 "Provide Data Source annotation for processes"
<img width="137" alt="image" src="https://user-images.githubusercontent.com/1994838/151061398-65f54a7f-d716-44cc-872f-d903bbdc7ddc.png">

The datasource annotation is used to describe data sources.

[2022-01-26 22:05] tiagobento commented on #700
@sKniffin Can you please try again with `0.16.0`?

[2022-01-27 07:37] sergey-volkov-lm commented on #700
For me it works now

[2022-01-27 21:14] romartin commented on #743
Hello @ArvindGundimajalu

You mean adding a new field in some of the BPMN domain model objects? If so, lemme explain.

The main goal for _Metadata Attributes_, in the _Advanced Data_ section, is for adding any key-value pair which you can futther use on the runtime execution, but it's not itself being exposed (neither serialized in the BPMN file) as a concrete "new" field for the target object (ta

[2022-01-27 21:17] romartin commented on #709
We don't support Pools in our BPMN editor, neither VSCode or any other channel. We don't have short term plans actually for adding support for Pool, but please consider looking at further releases and hopefully at some point we'll be able to release it!

Thanks!

[2022-01-27 21:17] #709 closed

[2022-01-27 21:24] romartin commented on #760
Hello @StephenOTT

Actually there exist a known issue with mediators, specially with panning, which prevents me from properly testing it. We have this issue already reported [1] and it's under our scope for fixing in the short term. Not sure if you're also facing with it, and maybe causing what you mention?

Although I guess what you describe is a different topic. If so, can you please share some

[2022-01-27 21:39] StephenOTT commented on #760
issue 8631 seems like it is more the problem i have describing.  The lack of canvas auto-growth when panning creates weird behaviour as you expect to to move but it does not and it feels "frozen" / stuck.

[2022-01-27 21:42] StephenOTT commented on #709
@romartin is there plans to add "linking" support from a Call Activity to open another VS Code Tab with the BPMN file?  If we don't have pools and so can't do multi Process Defs in a single file, we would jump across multiple files more frequently.  Having the ability to click on a Call Activity and it takes you to the BPMN file (if available in the project) would be very helpful.  Happy to create

[2022-01-27 21:45] StephenOTT commented on #743
@romartin is there plans to move metadata out of the `drools` namespace in the xml to create a bit cleaner structure?  when reviewing the xml it throws readers off when seam "drools"/rule engine references against a bpmn process that does not invoke rules.

[2022-01-27 21:54] romartin commented on #766
Thanks for reporting @StephenOTT .

This issue is actually being fixed as part of some work on lines, see [1]. Once the PR is merged, this issue will be gone. So please keep an eye on the further releases and the PR. Sorry for the inconveniences!

Thanks

[1] https://github.com/kiegroup/kie-tools/pull/776

[2022-01-27 21:57] romartin commented on #764
thanks for reporting @StephenOTT , it's noticeable that the translation is not being applied properly...

@Josephblt Could you please, once you have a while, try to just fix this literal please? Otherwise, if you don't have a chance right now, let's report the issue and assign to ourselves.

Thanks!

[2022-01-27 21:57] StephenOTT commented on #766
Thanks

[2022-01-27 22:00] romartin commented on #760
Agree, its behavior is not so unituitive as it should be. I am prioritizing those issues. Please keep an eye on further releases.

Thanks again for your feedback!

[2022-01-27 22:02] romartin commented on #743
@StephenOTT I should properly confirm but I think it makes sense what you mention. Anyway let you know that we're actually working on a complete new set of BPMN marshallers, for short term delivery, and I guess most of the namespaceing weird issues are being fixed there.

@hasys can you please check this issue and provide your feedback? Are we changing this in some way on the new implementations?

[2022-01-27 22:03] romartin commented on #766
Np, thanks for the feedback! Let's try to stay with this ticket open until you can confirm it's closed (once new release comes)

[2022-01-27 22:06] romartin commented on #759
Agree @StephenOTT , it's a known issue, not sure if reported althogh... lemme delgate this properly and thanks for reporting

[2022-01-27 22:08] romartin commented on #759
@inodeman Can you please check if the updates on the PR ![1], which implies moving the toolbox implementation out from the main layer, are in some way affected by the user defined transform (in concrete scale/zoom)?

Otherwise, can you please open a new issue for this and let me know so we can priortize?

Thanks in advance!
[1] https://github.com/kiegroup/kie-tools/pull/794

[2022-01-27 22:19] inodeman commented on #759
Hi @romartin @StephenOTT I have created a ticket in order to track it and change the behavious. https://issues.redhat.com/browse/KOGITO-6670

[2022-01-27 22:19] romartin commented on #700
Thanks for reporting @cheanwei .

@hasys Can you please take a look at the issue described by @cheanwei please? Let's first try to analyze the root cause for this import failure, then decide if opening a bug, depending also on the state for this on the new marshallers implementation. So delegating this to you, please provide feedback or properly open issues if necessary.

Thanks!

[2022-01-27 22:21] romartin commented on #759
ok thanks @inodeman .

[2022-01-27 22:27] romartin commented on #775
@fjtirado could you please help, now that you have some background, on quickly describing what's the issue and what's expected in the recently new issue [1]??  I would help a lot also your feedback on the severity.

[1] https://issues.redhat.com/browse/KOGITO-6593

[2022-01-28 10:01] fjtirado commented on #775
@romartin  We are kind of assuming that TaskName is suposse to be unique within a given process. So, it looks like a good idea to rename TaskName to taskId, or hint that this task name should be unique.
Also it will be good to indicate somehow that name property (in the top right) is for visual representation only.

[2022-01-28 12:55] hasys commented on #700
Hi @cheanwei,

it is an known issue: [KOGITO-5373](https://issues.redhat.com/browse/KOGITO-5373)  right now we are working on new marshallers which should be much more resilient to this kind of issues.

Meanwhile you can add `id="anyId"` to definitions BPMN tag like this:
[code]

And after that it will be possible to use provided file.

[2022-01-28 15:39] Josephblt commented on #764
Hello @StephenOTT, thanks for the report.

Here is the Jira to track this issue:
https://issues.redhat.com/browse/KOGITO-6673

Here is the PR that fixes it:
https://github.com/kiegroup/kie-tools/pull/817

@romartin, @StephenOTT if you guys could please review it that would be great. Thanks.

[2022-01-31 18:18] StephenOTT opened #820 "Process Type typo showing as ProcessType"
<img width="627" alt="image" src="https://user-images.githubusercontent.com/1994838/151850134-b6e06ec1-937c-4956-8ed6-0b9e7d8ae5c8.png">

should be `Process Type` instead of `ProcessType`?

Similar issue as #764 ?

[2022-01-31 18:21] StephenOTT opened #821 "Add configurable Help Text to all fields"
Very often there are a variety of modellers/users building BPMNs, and the uses within a organization vary.

it would be very helpful if a `i` ℹ️  type icon could be added next to each field, and the help text could be modified in a doc.

This would let deployments setup specific help text, instructions of usage, etc.

Example a org may want to indicate the best formats for Process Names, user task

[2022-02-06 18:32] StephenOTT opened #840 "Default Path for Sequence Flow should be set on the sequence flow rather than within the Impl of the Gateway"
When setting default path for a exclusive gateway, it can become unclear which sequence flow is being selected.

Consider:

<img width="1474" alt="image" src="https://user-images.githubusercontent.com/1994838/152695847-1ca1c342-bddd-462b-ac03-3e9639947669.png">

It would be more useful to allow selection of default flow as a setting when selecting the sequence flow.

[2022-02-06 22:26] StephenOTT opened #841 "Default Path on process sequence flows do not show the default indicator"
<img width="1509" alt="image" src="https://user-images.githubusercontent.com/1994838/152704106-e0f6a21b-b8f5-4e76-9498-1eec95bbc549.png">

<img width="645" alt="image" src="https://user-images.githubusercontent.com/1994838/152704095-12f5e16d-d4ea-4583-a61d-d7f1feafd6ca.png">

[2022-02-06 22:28] StephenOTT opened #842 "Need a way to reset the visual size of a Task box without having to delete it."
<img width="971" alt="image" src="https://user-images.githubusercontent.com/1994838/152704149-bf6223a1-0b50-4ec4-8e2c-3d3a7bcf7687.png">

One your resize the box, there does not seem to be a way to re-set the sizing so it returns to the default/normal size?

[2022-02-06 22:31] StephenOTT commented on #821
Could be the same style that is already provided on Timers.  But the ability to add these (optionally) to every field

<img width="619" alt="image" src="https://user-images.githubusercontent.com/1994838/152704236-86461fdd-dd71-4037-a6f5-695e54df303a.png">

[2022-02-06 22:34] StephenOTT opened #843 "Add ability to resize data grids in BPMN modeler"
There are data grids throughout the modeler such as:

<img width="1443" alt="image" src="https://user-images.githubusercontent.com/1994838/152704278-300b38f1-b4e2-40ec-9738-cc8fc8ff8362.png">

But often the columns are too small: such as the Name column can often be too short to handle business variables that tend to be longer in naming convention. "GlobalRetailPerWeekAveragePriceForTierTwoProduct

[2022-02-06 22:37] StephenOTT opened #844 "Sub Process Name Text is too close to line that accented characters are overlapping"
<img width="865" alt="image" src="https://user-images.githubusercontent.com/1994838/152704464-a575e9aa-70db-4d25-bdf0-bf8ddd0fcd88.png">

[2022-02-06 22:38] StephenOTT commented on #821
another example of variables

<img width="291" alt="image" src="https://user-images.githubusercontent.com/1994838/152704501-a2f4c796-2ed5-4693-ad06-4c88f9f81c57.png">

[2022-02-06 22:44] StephenOTT opened #845 "Deleting a element with a default sequence flow causes `null` to be created in Default Path"
![default Router](https://user-images.githubusercontent.com/1994838/152704660-07f45a7e-e837-4544-99ae-5cd9b7b342ee.gif)

[2022-02-06 22:47] StephenOTT opened #846 "Adding Elements to BPMN Process creates inconsistent placement - ~should also be aligned and "to the right" of current element."
![element placement](https://user-images.githubusercontent.com/1994838/152704783-0e0317e3-b9ba-41a6-9524-f0c02773fac1.gif)

[2022-02-12 15:30] StephenOTT opened #851 "VS-code: Process Editor should detect changes to properties form without having to defocus field"
Currently for when working with the BPMN editor in vs code, if you make a change to a property in the property editor/panel, in order for vs code to detect a change has occurred and allow saving, you have to defocus/click away from the field you have edited.

This behaviour makes it very difficult to use the Hot Reload and make rapid changes.

Consider an example of writing a script.  You run and

[2022-02-12 18:22] StephenOTT commented on #821
another

<img width="585" alt="image" src="https://user-images.githubusercontent.com/1994838/153723402-31f5523b-953f-43cf-aa7d-6e82635fcd74.png">

[2022-02-18 06:03] Shtek97 opened #863 "Russification of the editor"
Hello everyone, I have been working on Russification of the dmn editor in the kogito-editors-java repository and Russified it, but I wanted to use the Russified editor via js (like here https://sandbox.kie.org/standalone/bpmn/index.js, and exits only through a war file), and one of the authors of the repository told me that that repository is not supported and go to kie-tools.
How to rebuild a js

[2022-02-25 09:57] bouzasvas opened #873 "In VS Code Workspace Include Models functionality does not work in DMN Editor & Custom Tasks are empty in BPMN Editor"
When developing decisions using VS Code Workspaces DMN Editor cannot include other DMN Models.
Also BPMN Editor Custom Tasks list is empty.

Steps to reproduce;

1. Open a KIE Project in VS Code
2. Add a second project in the same VS Code Workspace
3. Try to "Import Models" in DMN Editor
4. Try to add a Custom Task in BPM Editor

The steps 3, 4 fail as DMN Models list and Custom BPMN Tasks list is

[2022-03-06 01:33] Sciumo opened #881 "Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin"
branch main
commit #823 1b457a35ba09d6981663566a59e6882804124100

results in
`@kie-tools/stunner-editors: [ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.1:test (default-test) on project uberfire-workbench-client-views-patternfly: There are test failures.`

[2022-03-08 13:41] tbouffard opened #883 "Unable to install kie-editors-standalone@0.17.0"
According to the [v0.17.0 README](https://github.com/kiegroup/kie-tools/tree/0.17.0/packages/kie-editors-standalone#installation), I should be able to install it by running `npm install @kie-tools/kie-editors-standalone`

But I got an error
[code]

The 0.17.0 js files are not available at https://github.com/kiegroup/kogito-online/tree/gh-pages/standalone as well (0.16.0 and older versions are avai

[2022-03-08 14:06] tiagobento commented on #883
Hi @tbouffard, you're right, there was an instability during our 0.17.0 release. This was caused by Quay.io not being able to accept pushes to new image versions, so we opted to not include any packages other than the VS Code Extensions, which featured the new Serverless Workflow Editor extension.

We apologize for this package not being available at the moment and that the instructions on the REA

[2022-03-08 15:12] tbouffard commented on #883
OK thanks for the explanations and the quick feedback.

Can we keep this issue opened until the new release is available?
I monitor releases in this repository so I will give a try to the next version when it is released.

[2022-03-09 08:23] raphael-red opened #884 "Kogito Bundle vscode extension scesim file can not parse dmn file: dmn file is invalid or not presented"
The issue case is:

When I create a new dmn file with the extension and then create a test scenario file, after select the dmn file and click 'create', the error poped up saying 'dmn file is invalid or not presented'.

So after some work-out I find the first line which is "xml 1.0 version" line cause the case,  so if I delete the first line of the dmn file it works fine.

The extension version is

[2022-03-09 08:44] yesamer commented on #884
Hi @raphael-red, thank you for reporting this issue. Which is your OS?

[2022-03-09 08:46] raphael-red opened #885 "kogito bundle will create "<?xml version="1.0" encoding="UTF-8"?>" in the first line of the files which causing parsing error"
xml version="1.0" line will cause the application fail to parse file. I create a test scenario and the first line causing parse error and if I delete it the program will run the test.

kogito bundle version is v0.17.0

[2022-03-09 08:50] raphael-red commented on #884
My OS is lastest updated Kubuntu 20.04 (amd64)

[2022-03-09 15:59] jomarko commented on #884
@yesamer @raphael-red hello, here is a quality engineer of DMN eidotr. unfortuantely. I am not able to reproduce the issue.
Using VS Code extension 0.17.0 I was able to:
- Create a new dmn file. In my case containing just InputData node -> Decision node.
- Create a scesim file for the previously created dmn file.

I did this in one of `kogito-examples` project. And even when I run `mvn clean verif

[2022-03-10 01:10] raphael-red commented on #884
Thank you for your effort, it is really weird, I will just delete the line manually for now.

[2022-03-10 01:57] wl1092212424 opened #887 "windowos Failed to export svg file"
Modifying the vscode `settings.json` configuration can solve this problem
Share my configuration
"kogito.bpmn.svgFilePath":"/"

[2022-03-10 05:53] jomarko commented on #884
@raphael-red would it be possible to share both dmn files?
- created by tooling (that you can not create test scenario for)
- adapted manually by you (that you can  create test scenario for)
?

[2022-03-10 06:37] raphael-red commented on #884
I am new to kogito and I just followed the official site doc guiding examples. The only thing I change is deleting the first line "<?xml version="1.0" encoding="UTF-8"?>" create by tooling. So the only difference between the two files is the first line "<?xml version="1.0" encoding="UTF-8"?>"

so the two files will be:
created by tooling (that you can not create test scenario for)
`<?xml version="

[2022-03-10 07:27] jomarko commented on #884
Hmm sorry, I tried also your file including "version" prolog. and created scesim without an issue.

![Screenshot from 2022-03-10 08-21-32](https://user-images.githubusercontent.com/8044780/157609740-2ccf3707-2718-4309-b83e-b6f06d0c682f.png)

Could you please clarify what bundle you have installed?
- DMN Editor (redhat.vscode-extension-dmn-editor)
- BPMN Editor (redhat.vscode-extension-bpmn-editor)

[2022-03-10 08:05] raphael-red commented on #884
Hmm I tried it again, it worked well too. I am sorry for wasting your time. Though I was pretty sure I deleted the line to make it work but now the fact shows the other case. I feel embarrassed. Now I doubt that I edited file in the intellij idea too, may be the vscode is initializing so the classpath hasn't loaded yet. Which I am not sure.

Though I am sure that the "version" prolog in the scesim

[2022-03-10 08:20] yesamer commented on #884
@raphael-red Yes, that is a different issue we already aware of, It should be fixed with kogito runtime 1.18.0 version. Can you please update the version in your POM and try again?

[2022-03-10 17:02] Sciumo opened #888 "More informative SCESIM Error messages"
Testing is driven by understanding errors and correcting them.
It is very difficult to use SCESIM for meaningful testing, due to the lack of meaningful error messages.
I can't diagnose anything from the simple "NoSuchElementException".  Which element?
The DMN file works fine from the command line using 'jbang'.
Takes 1 string, returns 1 string translated.

[code]

[2022-03-11 11:40] yesamer commented on #888
Hi @Sciumo can you please share a DMN/Scesim file that reproduces the issue? Not necessary the one you're using, but I need it to reproduce it.

[2022-03-11 11:42] yesamer commented on #888
@Sciumo It seems you are facing the same issue reported here https://github.com/kiegroup/kie-tools/issues/884.
Can you please try to update your asset to Kogito 1.18.0 version?

[2022-03-14 09:21] yesamer commented on #873
@bouzasvas Hi,
the include model functionality works only if the file you want to import, is on the same directory of the current opened file.
Eg. if you are editing `../resource/dmn/A.dmn` and you want to include a `B.dmn`, that file must be in the same `A.dmn` directory.

[2022-03-14 09:22] yesamer commented on #885
It seems a duplicate of https://github.com/kiegroup/kie-tools/issues/884, closing.

[2022-03-14 09:22] #885 closed

[2022-03-14 09:24] yesamer commented on #888
@Sciumo Can you please confirm updating to `kogito-runtime` version 1.18.0 solved the issue?

[2022-03-14 09:24] yesamer commented on #884
@raphael-red  Can you please confirm updating to `kogito-runtime` version 1.18.0 solved the issue?

[2022-03-14 11:18] yesamer commented on #873
Hi @bouzasvas, ok thank you for giving me more details.
Yes, we still don't fully support the multi workspace scope VSCode offers. Thus, my recommendation is to use our extensions in a mono-workspace mode only, in order to don't slip into issues like the one you reported.

[2022-03-18 02:36] Sciumo commented on #888
I've updated to 1.18, but I was forced to move over just to using DMN builder test classes. I'll check again when I can.

[2022-03-23 09:20] yesamer commented on #873
@bouzasvas At this moment we don't have plans to implement multi-workspace support. Stay tuned with us, our https://kie.zulipchat.com/ zulip chat and https://blog.kie.org/ kie blog to stay updated :)

[2022-03-23 16:40] bouzasvas commented on #873
@yesamer thanks, have a nice day!

[2022-03-23 16:40] #873 closed

[2022-03-25 07:05] Shtek97 opened #906 "Element DMN InputData"
Please tell me where the logic for creating elements (more precisely, the InputData element) is located. I need to move the button for creating this element outside the editor itself, but so that when this button is pressed, this element is created inside the editor.

[2022-03-25 07:58] tbouffard commented on #883
[Version 0.18.0](https://github.com/kiegroup/kie-tools/releases/tag/0.18.0) has just been released, the kie-editors-standalone bundles are available at https://github.com/kiegroup/kogito-online/tree/gh-pages/standalone but not at npmjs.

I still get an error on npm install
[code]

The npmjs web UI also shows the same (on 2022-03-25 07:55 UTC)

https://www.npmjs.com/search?q=kie-editors-standalone

[2022-03-25 12:35] #863 closed

[2022-03-25 12:35] Shtek97 commented on #863
Решил вопрос сам.

[2022-03-25 14:06] tiagobento commented on #883
@tbouffard Hi Thomas. We published the release yesterday but publishing to NPM failed due to some authentication issues.
I just fixed the problem and all the artifacts were correctly published now. Can you please retry installing `@kie-tools/kie-editors-standalone`?

See https://www.npmjs.com/package/@kie-tools/kie-editors-standalone

[2022-03-25 14:19] tiagobento commented on #881
@Sciumo Hi!

Can you share more details please?

- OS
- NPM version
- Maven version
- Java version
- Logs of the failing tests

Thx!

[2022-03-25 14:38] tbouffard commented on #883
Thanks @tiagobento I have been able to use the bpmn bundle.
So closing 👍🏿

[2022-03-25 14:38] #883 closed

[2022-03-25 15:03] tiagobento commented on #887
@wl1092212424 Can you please check if it's the same issue as this one? https://stackoverflow.com/questions/71223285/unable-to-export-svg-of-bpmn-in-vscode-unknown-filesystem-error/71413379

[2022-03-31 07:40] Shtek97 commented on #906
I found how creating a button works through java code, which is rendered in the browser through the errai framework.

Ways:
1). Buttons responsible for deleting and creating links - kie-tools-main/packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-client/kie-wb-common-stunner-lienzo/src /main/java/org/kie/workbench/common/stunner/client/lienzo/components/mediators
2). Input Data

[2022-04-11 09:01] IonRobu commented on #883
Hi,
I also have problems with packages installation. I run yarn bootstrap in IntellijIdea. At some point I get message:
[code]

After hit Enter I get the error
[code]
Did I miss something?

[2022-04-16 19:25] tsurdilo opened #946 "Copy of Serverless Workflow VSCode extensions"
Just wanted to report that your extension: https://marketplace.visualstudio.com/items?itemName=redhat.vscode-extension-serverless-workflow-editor

is a copy of the CNCF Serverless Workflow extension: https://marketplace.visualstudio.com/items?itemName=serverlessworkflow.serverless-workflow-vscode-extension

[2022-04-17 13:50] #946 closed

[2022-04-20 17:23] ederign commented on #429
Moved to: https://issues.redhat.com/browse/KOGITO-7002

[2022-04-20 17:23] #429 closed

[2022-04-20 17:25] ederign commented on #434
Due to inactivity, we are closing this issue, but it is still tracked on https://issues.redhat.com/browse/KOGITO-4590

[2022-04-20 17:25] #434 closed

[2022-04-20 17:29] ederign commented on #700
Closing due to inactivity. Feel free to open another one if necessary!

[2022-04-20 17:29] #700 closed

[2022-04-20 17:31] #720 closed

[2022-04-20 17:32] #727 closed

[2022-04-20 17:35] ederign commented on #743
For better backlog organization, we are now tracking this at: https://issues.redhat.com/browse/KOGITO-7004

[2022-04-20 17:36] ederign commented on #745
Closing due to inactivity. Feel free to reopen it if necessary.

[2022-04-20 17:36] #745 closed

[2022-04-20 17:37] ederign commented on #759
For better backlog organization, we are now tracking this only at https://issues.redhat.com/browse/KOGITO-6670

[2022-04-20 17:37] #759 closed

[2022-04-20 17:38] Sciumo commented on #745
VS Code Extension, Ubuntu 20
Please reopen unless it's fixed. My last check of the VS Code extension, does not.

[2022-04-20 17:43] ederign commented on #768
For better tracking and backlog organization, we are now following this issue here https://issues.redhat.com/browse/KOGITO-7006

[2022-04-20 17:43] #768 closed

[2022-04-20 17:43] ederign commented on #767
For better tracking and backlog organization, we are now following this issue only at https://issues.redhat.com/browse/KOGITO-7007

[2022-04-20 17:43] #767 closed

[2022-04-20 17:46] ederign commented on #766
For better tracking and backlog organization, we are following this issue only at https://issues.redhat.com/browse/KOGITO-5529

[2022-04-20 17:46] #766 closed

[2022-04-20 17:47] ederign commented on #765
For better backlog organization, we are tracking this issue only  at https://issues.redhat.com/browse/KOGITO-7008

[2022-04-20 17:47] #765 closed

[2022-04-20 17:47] #764 closed

[2022-04-20 17:49] #763 closed

[2022-04-20 17:49] ederign commented on #760
For better backlog organization, we are now tracking this issue only at https://issues.redhat.com/browse/JBPM-8631

[2022-04-20 17:49] #760 closed

[2022-04-20 17:52] ederign commented on #792
For better backlog organization, we are now tracking this only at https://issues.redhat.com/browse/KOGITO-7010

[2022-04-20 17:52] #792 closed

[2022-04-20 17:53] ederign commented on #784
For better backlog organization, we are now tracking this only at https://issues.redhat.com/browse/KOGITO-7011

[2022-04-20 17:53] #784 closed

[2022-04-20 17:56] ederign commented on #782
For better backlog organization, we are now tracking this at https://issues.redhat.com/browse/KOGITO-7012

[2022-04-20 17:56] #782 closed

[2022-04-20 17:58] ederign commented on #775
For better tracking, we are now following this issue only at https://issues.redhat.com/browse/KOGITO-7013

[2022-04-20 17:58] #775 closed

[2022-04-20 18:00] ederign commented on #774
For better tracking, we are now following this issue only at https://issues.redhat.com/browse/KOGITO-7014

[2022-04-20 18:00] #774 closed

[2022-04-20 18:01] ederign commented on #773
For better tracking, we are now following this issue only at https://issues.redhat.com/browse/KOGITO-7015

[2022-04-20 18:01] #773 closed

[2022-04-20 18:02] ederign commented on #772
For better tracking, we are following this issue at https://issues.redhat.com/browse/KOGITO-7016

[2022-04-20 18:02] #772 closed

[2022-04-20 18:03] ederign commented on #770
For better tracking, we are now following this only at https://issues.redhat.com/browse/KOGITO-6594

[2022-04-20 18:03] #770 closed

[2022-04-20 18:11] ederign commented on #851
For better backlog organization, we are now following this only at https://issues.redhat.com/browse/KOGITO-7018

[2022-04-20 18:16] ederign commented on #846
For better backlog organization, we are now following this only at https://issues.redhat.com/browse/KOGITO-7019

[2022-04-20 18:16] #846 closed

[2022-04-20 18:17] ederign commented on #845
For better backlog organization, we are now following this only at https://issues.redhat.com/browse/KOGITO-7020

[2022-04-20 18:17] #845 closed

[2022-04-20 18:18] ederign commented on #844
For better backlog organization, we are now following this only at https://issues.redhat.com/browse/KOGITO-7021

[2022-04-20 18:18] #844 closed

[2022-04-20 18:19] ederign commented on #843
For a better backlog organization, we are following this only at https://issues.redhat.com/browse/KOGITO-7022

[2022-04-20 18:19] #843 closed

[2022-04-20 18:20] ederign commented on #842
For a better backlog organization, we are now tracking this only at https://issues.redhat.com/browse/KOGITO-7024

[2022-04-20 18:20] #842 closed

[2022-04-20 18:21] ederign commented on #841
For better backlog organization, we are now tracking this only at https://issues.redhat.com/browse/KOGITO-7025

[2022-04-20 18:21] #841 closed

[2022-04-20 18:22] ederign commented on #840
For a better backlog organization, we are now tracking this only at https://issues.redhat.com/browse/KOGITO-7026

[2022-04-20 18:22] #840 closed

[2022-04-20 18:32] #821 closed

[2022-04-20 18:32] ederign commented on #820
For better backlog organization, we are tracking this at https://issues.redhat.com/browse/KOGITO-7028

[2022-04-20 18:32] #820 closed

[2022-04-20 18:33] ederign commented on #803
For better backlog organization, we are tracking this only at https://issues.redhat.com/browse/KOGITO-7029

[2022-04-20 18:33] #803 closed

[2022-04-20 18:36] ederign commented on #802
For a better backlog organization, we are now tracking this at https://issues.redhat.com/browse/KOGITO-7031

[2022-04-20 18:36] #802 closed

[2022-04-20 18:38] ederign commented on #801
For better backlog organization, we are now tracking this at https://issues.redhat.com/browse/KOGITO-7032

[2022-04-20 18:38] #801 closed

[2022-04-20 18:41] ederign commented on #800
For a better backlog organization, we are now tracking this at https://issues.redhat.com/browse/KOGITO-7032

[2022-04-20 18:41] #800 closed

[2022-04-20 18:41] ederign commented on #799
For a better backlog organization, we are now tracking this at https://issues.redhat.com/browse/KOGITO-7033

[2022-04-20 18:42] ederign commented on #798
For a better backlog organization, we are only following this at https://issues.redhat.com/browse/KOGITO-7034

[2022-04-20 18:42] #798 closed

[2022-04-20 18:43] ederign commented on #797
For a better backlog organization, we are tracking this only at https://issues.redhat.com/browse/KOGITO-7035

[2022-04-20 18:43] #797 closed

[2022-04-20 18:44] ederign commented on #796
For a better backlog organization, we are tracking this only at https://issues.redhat.com/browse/KOGITO-7036

[2022-04-20 18:44] #796 closed

[2022-04-20 18:45] ederign commented on #795
For a better backlog organization, we are tracking this only at https://issues.redhat.com/browse/KOGITO-7037

[2022-04-20 18:45] #795 closed

[2022-04-20 18:46] ederign commented on #793
For a better backlog organization, we will only follow this issue at https://issues.redhat.com/browse/KOGITO-7038

[2022-04-20 18:46] #793 closed

[2022-04-20 18:47] #799 closed

[2022-04-20 18:47] ederign commented on #881
Closing due to inactivity. Feel free to reopen if necessary.

[2022-04-20 18:47] #881 closed

[2022-04-20 18:48] ederign commented on #884
@raphael-red I'm closing this issue due to inactivity. If you still face this bug with the most recent version, feel free to reopen it.

[2022-04-20 18:48] #884 closed

[2022-04-20 18:50] ederign commented on #887
@wl1092212424 I'm closing this due to inactivity. Feel free to reopen if this is still an issue.

[2022-04-20 18:50] #887 closed

[2022-04-20 18:50] ederign commented on #888
@Sciumo I'm closing this issue due to inactivity. Feel free to reopen it if necessary.

[2022-04-20 18:50] #888 closed

[2022-04-20 18:52] ederign commented on #906
@Shtek97 sorry for the delay to get it back to you.

'I need to move the button for creating this element outside the editor itself, but so that when this button is pressed, this element is created inside the editor.'

Let me confirm if I understood correctly. You are using the embed DMN editor and want to create a button outside the editor (probably in the hosting page) and trigger an action for

[2022-04-20 19:40] Sciumo commented on #888
What is there to reproduce? There is very little information in the message.  I'm not reporting any more issues.

[2022-06-11 20:21] fasteddys opened #1028 "How embed in ASP MVC core"
Hello how can I use this in an ASP MVC core 6 app..
can you share some guidance please

[2022-06-13 17:42] ederign commented on #1028
Hi @fasteddys, can you please give us more details of what you want to achieve? Do you want to embed exactly what?

[2022-06-16 12:51] ederign commented on #906
Closing due to inactivity. @Shtek97 feel free to open a new one if you still have questions.

[2022-06-16 12:51] #906 closed

[2022-06-21 00:23] ederign commented on #1028
Closing due to inactivity.  @fasteddys feel free to reopen if necessary.

[2022-06-21 00:23] #1028 closed

[2022-07-06 05:31] deftdawg opened #1067 "Feature Request - Dark mode"
I find it hard on the eyes to look at a large screen with a white background especially after sunset.

I've tried to use the [Dark Reader](https://darkreader.org/)  google chrome extension, but the diagram elements still render in black on a near black background making the page unusable.

If there's any chance a dark mode could be made or at least some tweak to make the site more friendly to use

[2022-07-06 05:46] deftdawg opened #1068 "Feature Request: Importing data types from sample datasets"
## Feature idea:
take a sample datasets of JSON and attempt to derive the data types from the observed values across it's numerous records automatically.

## Background:
I'm currently struggling with creating data types that match the data I load from the `Run`...

Rather than records being loaded, I get a number of empty rows that match the row count of the input file.

I don't know what I'm doin

[2022-07-06 14:51] deftdawg commented on #1068
As a follow-up to the blank rows I observed, I think I now know why I see this:

- I created a Data type structure called `SimpleTX` (id,vendor,amount,description,category_id all of type `any`), created a `DMN Input Data` put it's data type properties to `SimpleTX`
- Next I uploaded JSON data, the data matches the structure of `SimpleTX`, however there's mention of the Input name or data type in j

[2022-07-06 15:12] deftdawg commented on #1067
![kie-sandbox-darkreader-arrows](https://user-images.githubusercontent.com/4991612/177584095-82bf6bb7-3bcc-4188-a0b0-3fee800ac9be.png)

[2022-07-06 16:11] deftdawg opened #1072 "Crash when loaded input data is incorrectly formatted."
In my efforts to import data, I accidentally triggered a UI crash.

This is my workspace:
[CrashTest.dmn.txt](https://github.com/kiegroup/kie-tools/files/9056392/CrashTest.dmn.txt)

Here is the data I sent to it:
cat 3-rows.json | jq -s '{"InputData-1":.[]}'
[code]

I know the data is not the expected format; it should be a list of `InputData-1` objects rather than an `InputData-1` list, however t

[2022-07-06 18:09] deftdawg commented on #1072
This is the command I should've used for the data to have the correct format:
[code]

[2022-07-06 18:24] deftdawg opened #1073 "Date Time parsing of input formatted as yyyy-MM-dd'T'HH:mm:ss silently fails"
I have some JSON data that I'd like to import, if I set the Data Type for the field to `Any` it loads as a string, if I set the format to `Date and Time` input loading fails completely, the Form panel indicates I should check for `validations` however the validations count is `0`

![date-time-parse-issue](https://user-images.githubusercontent.com/4991612/177617747-4a13d707-5101-4c3c-9e23-65a6f2417

[2022-07-07 15:33] tiagobento commented on #1072
@deftdawg Thx for reporting that. We will prioritize this accordingly and fix this bug as soon as possible. Created [KOGITO-7515 - DMN Runner inputs invalidate the workspace if they're wrongly formatted](https://issues.redhat.com/browse/KOGITO-7515)

[2022-07-07 15:36] tiagobento commented on #1073
@deftdawg Thanks for reporting this issue. I've created [KOGITO-7516 - DMN Runner inputs fail silently for Date Time parsing of input formatted as yyyy-MM-dd'T'HH:mm:ss](https://issues.redhat.com/browse/KOGITO-7516) and the team will work on it as soon as possible.

[2022-07-12 13:08] ederign commented on #1067
Hi @deftdawg as this is a feature request, we are following this issue here: https://issues.redhat.com/browse/KOGITO-7542

[2022-07-12 13:08] #1067 closed

[2022-07-12 13:10] ederign commented on #1072
Closing this as we are now tracking in on JIRA.

[2022-07-12 13:10] #1072 closed

[2022-07-12 13:10] ederign commented on #1073
Closing this as we are now tracking this on JIRA.

[2022-07-12 13:10] #1073 closed

[2022-07-12 13:23] ederign commented on #1068
@deftdawg thank you so much for the suggestion. We will triage this and follow up this feature request here: https://issues.redhat.com/browse/KOGITO-7543

[2022-07-12 13:23] #1068 closed

[2022-07-20 22:26] gregid opened #1113 "[VS Code] Kogito Serverless Workflow Editor - prompts for automatic opening on every json file"
Kogito Serverless Workflow Editor VS Code extension - prompts for automatic opening on every plain `.json` file in every single project - if confirmed creates project settings.json file.

![image](https://user-images.githubusercontent.com/7010458/180091700-9b358712-8568-40cd-8d2a-442a27a6f76e.png)

I would expect that the prompt should only appear on following files: (`*.sw.json`, `*.sw.yaml`, `*.

[2022-07-21 15:14] ederign commented on #1113
@thiagoelg can you please take a look at this?

[2022-07-22 16:17] #1113 closed

[2022-08-03 19:36] SigmaOutdoors opened #1145 "pnpm bootstrap is failing"
Looking for any insight on my error when attempting to

**pnpm bootstrap**

seems to be failing on liblzma-config.sh command

[code]

[2022-08-04 14:11] SigmaOutdoors commented on #1145
After looking further up the chain, it looks like it goes into this because it can't find and a prebuilt lzma_native-v6.0.1-n-api-linux-arm64.tar.gz file.

.../node_modules/playwright install$ node install.js
.../node_modules/lzma-native install: node-pre-gyp info it worked if it ends with ok
.../node_modules/lzma-native install: node-pre-gyp info using node-pre-gyp@0.11.0
.../node_modules/lzma-na

[2022-08-04 15:32] SigmaOutdoors commented on #1145
I found the problem, it won't work on ARM processors so I created a Docker image that runs AMD.  I was able to get though the bootstrap with success!  However trying this command fails (way into it), any help would be appreciated

[code]

[2022-08-04 18:08] tiagobento commented on #1145
Hi @SigmaOutdoors!

Doesn't look like our build has ever run on an arm64 Linux before. I occasionally develop on my M1 MacBook Air, which would be arm64 macOS, but I've never had such failures. Glad to know you were able to setup an amd64 VM.

Regarding the Java issue,  I have no idea what could be happening. We use OpenJDK 11 on our CI and I've never seen this error before. If you have access to

[2022-08-04 18:27] SigmaOutdoors commented on #1145
Thanks - like I said, I was able to build a Docker image to take the ARM out of the equation.  Then on the above I thought maybe it was disk space, so I moved it to a place with more disk - it compiled for like an hour and dumped here
[code]

[2022-08-04 19:25] tiagobento commented on #1145
This package requires a reasonable amount of RAM to be built. Can you try configuring Maven with `export MAVEN_OPTS=-Xmx2g`?

[2022-08-05 13:08] SigmaOutdoors commented on #1145
I will do that - thank you!

[2022-08-09 08:31] debu999 opened #1165 "VS Code Extentions - BPMN Editor Fails with Error saving svg 0.21.0 version"
When using 0.21.0 getting error in VSCode while saving the file. svg works fine in 0.20.0
Error
`Unable to write file 'C:\Users\..\vscodeexepath\C:\svg\a-svg.svg (Unknown (FileSystemError): Error: EINVAL: invalid argument, mkdir 'C:\Users\..\vscodeexepath\c:`

Can you help fix the path parsing svg path is set to ${fileDirname} so something breaks in 0.21.0 version in windows. Works fine in mac and

[2022-08-09 14:55] thiagoelg commented on #1165
Hi @debu999!

Can you show how your VSCode workspace is set up? (Like, where is the BPMN file you are trying to edit)
A screenshot would be great if possible, thanks!

[2022-08-10 16:38] thiagoelg commented on #1165
This was fixed with this PR: https://github.com/kiegroup/kie-tools/pull/1115, but it was not included in the 0.21.0 release.

It should be included in the next release (0.22.0), but for now, you could temporarily set the SVG path manually in the extension settings or build a new VSIX from the main branch.

[2022-08-10 19:30] debu999 commented on #1165
Thanks it's wonderful to see faster completion of bug fix.

[2022-08-15 12:58] MBoegers opened #1179 "DMN Editor Import Java Datatype disabled"
I try to use a domain model from a maven dependency within a kjar generated by the archetype.
When I open the kjar project with DMN Editor plugin, navigate to the _Data Types_ Tab, the _Import Java classes_ Button is disabled.
I've created a project to reproduce the problem under [MBoegers/kjar-with-domain-from-dependency](https://github.com/MBoegers/kjar-with-domain-from-dependency)

org.kie.vers

[2022-08-22 08:35] yesamer commented on #1179
Hi @MBoegers!
To enable the `Import Java Classes` button, you can refer to [my blog post in kie blog](https://blog.kie.org/2022/05/dmn-types-from-java-classes.html)
Please keep in mind this feature is designed to work with `kogito` (https://kogito.kie.org/), which is not your case (as you are using the `7.x` kie version.
Despite the feature wasn't tested with the `7.x` stream, it should work. Pay

[2022-08-22 18:37] SigmaOutdoors commented on #1145
Not on my Mac, but I was able to create a Docker Image on a linux box and now I am having this issue (link below to KIE forums) building the stunner editors.  Thank you for checking back in, I appreciate it.

https://kie.zulipchat.com/#narrow/stream/232678-jbpm/topic/Failed.20Build.20Collection.20of.20Deps.20on.20Stunner.20Editors.20-.20Lib

[2022-08-23 08:10] MBoegers commented on #1179
Hi @yesamer the new popup provides better information, thanks for that improvement.

I can not make it work with 7.x nor with 8.x..
My process:
1. create project with ´mvn archetype:generate -DarchetypeGroupId=org.kie -DarchetypeArtifactId=kie-kjar-archetype -DarchetypeVersion=8.26.0.Beta´ (for 7.x I used archetype version 7.73.0.Final)
2. add Person class with public getter/setter to ´src/main/ja

[2022-08-24 03:12] debu999 commented on #1165
It's fixed in 0.22.0 version. Thanks

[2022-08-24 03:13] debu999 commented on #1165
closing the issue . its resolved.

[2022-08-24 03:13] #1165 closed

[2022-08-24 07:33] yesamer commented on #1179
@MBoegers It was able to reproduce the issue, it's a bug on our side. I'll provide a fix in the same PR.

[2022-08-24 08:42] yesamer commented on #1179
@MBoegers PR updated. That fix would be part of the next `0.23.0` release.

[2022-08-24 17:57] paulbrowne-irl opened #1203 "Kie Extended Services 0.22.0 reporting wrong version number (0.21.0) causing error in KIE Sandbox"
Currently running the KIE Sandbox  https://sandbox.kie.org/#/ on Windows 11 using Firefox / Chrome.

Updated to latest version (kie_sandbox_extended_services_windows_0.22.0.exe) using the link provided under the Run tab in the sandbox.

Kie Sandbox still gives message "Warning alert:KIE Sandbox Extended Services is outdated!" even after update.

On investigation (opening http://localhost:21345/pin

[2022-08-25 18:05] paulbrowne-irl commented on #1203
Did a full system restart (again) including a hard refresh of the browser cache (just in case).

This time the version number has successfully updated to 0.22 - I did *not* re-download the .exe file so the issue was definitely local to my PC (and am slightly embarrassed to have taken your time on this).

Thank you for your time and your response.

[2022-08-25 18:05] #1203 closed

[2022-08-25 18:16] caponetto commented on #1203
No problems, @paulbrowne-irl! I'm glad everything worked out well. :)

[2022-08-27 07:59] krakzk opened #1206 "Trying to run standalone in my Windows 11 System"
I am getting error trying to install and run standalone app in Windows 11 system.
Steps Followed:
1) Cloned the repo
2) Opened CMD as admin and ran 'pnpm bootstrap' command
3) tried running pnpm -r -F kie-editors-standalone build:dev command.

Ath this point getting the following error:

[code]

Installed all the required dependencies.

Node :  v16.14.2
pnpm: 7.0.0
Apache Maven 3.8.4
java 17.0.2 2

[2022-08-27 10:53] yesamer commented on #1206
Hi @krakzk, please try to use `pnpm -r -F kie-editors-standalone... build:dev` as the command for the third step. Adding the 3 dots will compile the required dependencies for `kie-editors-standalone`, which are the ones not found during your tentative (eg. `TS2307: Cannot find module '@kie-tools-core/notifications/` )

[2022-08-29 06:08] krakzk commented on #1206
Yes, was a silly mistake. Closing the issue.

[2022-08-29 06:08] #1206 closed

[2022-08-31 14:57] NeilBreems opened #1210 "BPMN and DMN files are being emptied when opening the modellen"
In some case when opening a DMN or BPMN file after (re)starting visual studio the contents of the model are being deleted resulting in an empty file and loss of the model. I haven't found a cause or trigger for this behaviour (yet).

[2022-08-31 22:47] ederign commented on #1210
Thanks @NeilBreems we will keep a 👀 on this. I've tried sometimes on my machine and I was not able to reproduce.

Which OS are you using? Does this happen during the normal operation of the visual editor?

Why the VS Code restart happen?

[2022-09-01 16:46] NeilBreems commented on #1210
I'm using windows 11 with visual studio code 1.70.2 but I had the same problem before on windows. The problem seems to be project/folder related and happens over time. When I create a new project/folder the problem will go away for some time until it starts happening again.

[2022-09-05 16:08] deepa0806 opened #1218 "to import bpmn files from github using kogito standalone tools"
WE need a button to open and save diagram to github repo.
Could you please help on this

[2022-09-06 17:05] tiagobento commented on #1218
We need more details. Please provide a detailed use-case and some screenshots if possible.

[2022-09-06 17:08] tiagobento commented on #1210
@NeilBreems Hey! Two questions..

1. Do you have `Auto-save`
2. Does the content of the file becomes completely empty or is there some XML left there?

If you could provide a reproducer that would be great. I mean, even if it only happens some times.. Maybe we can try and reproduce with some CPU throttling on... From what I understood it happens when you close VS Code with some files open and you

[2022-09-06 18:00] krakzk opened #1220 "Failure trying to run stunner-editor."
I have tried the following steps to start the stunner in my localhost.
Clone the repo, ran the bootstrap and build commands for stunner-editors which were success.
Then I followed

 change to the kie-tools/packages/stunner-editors/kie-wb-common-stunner root folder
**_run mvn clean install -DskipTests -Dgwt.compiler.skip=true_**
Build the webapp:
Dev: **_mvn -T 8C clean install -DskipTests=true -Dd

[2022-09-08 01:38] deepa0806 commented on #1218
Dear,
My requirements are as follows.
1.open existing bpmn file from github repo from browser.
2.edit or do modifications in existing bpmn
3 . Save or commit existing file to git repo.

Please do help on this issue

Thanks and regards,
Deepa

On Tue, 6 Sept 2022, 22:35 Tiago Bento, ***@***.***> wrote:

[2022-09-10 12:06] krakzk opened #1224 "Add Custom Actors in Dropdown search of BPMN User Task"
This is a question, not basically an issue.

I am new to kie-tools environment. Was trying around changing various properties for the BPMN editor.

Trying to find a way to inject my set of actors and groups to the User Tasks.
I am running the kogito-bpmn-runitime app test.html.

Any help would be appreciated.

[2022-09-13 19:39] tiagobento commented on #1218
@deepa0806 Sorry, I still don't understand. Where are you opening the BPMN file? What tool are you using? KIE Sandbox? VS Code? Standalone Editors?

[2022-09-14 08:28] deepa0806 commented on #1218
Thanks for your reply.

Am integrating kie  standalone in my application.
With Kie Standalone  we can create and download bpmn files,but I have a
requirement where I can open existing bpmn file and modify existing bpmn
file and commit the changes in git.

Hope you understand my requirement.

Thanks & Regards,
Deepa

On Wed, 14 Sept 2022, 01:09 Tiago Bento, ***@***.***> wrote:

[2022-09-14 14:45] hasys commented on #1224
Hello @krakzk,

thank you for your question!

Some high level overview of the way forms works in Stunner:
there exist:
- [model classes](https://github.com/kiegroup/kie-tools/blob/e7cee444fe6cc55d47606e387ba49776da9c6f10/packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-api/src/main/java/org/kie/workbench/common/stunner/

[2022-09-14 15:08] yesamer commented on #1179
@MBoegers 0.23.0 version has been released. Can you please check and eventually close this issue? Thx!

[2022-09-14 22:24] romartin commented on #1224
Hey @moaazabir

I understand you're using the process editor in the Business Central. Please let me know otherwise.

In that case, as far as I remember, the `actors` and `groups` fields are actually consuming the users / groups from the `Users Management` subsystem. By default, if nothing configured, the subsystem reads the own wildfly realm (properties files). But you can configure it properly, i

[2022-09-14 23:08] romartin commented on #1220
Hello @krakzk

This error is because the command `mvn gwt:run` is being executed in the `kie-wb-common-stunner` root, but the root module doesn't contain itself a gwt app module.

Just run the `mvn gwt:run` command in the [kie-wb-common-stunner-bpmn-kogito-runtime](https://github.com/kiegroup/kie-tools/tree/main/packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-commo

[2022-09-14 23:16] romartin commented on #1220
PR created: https://github.com/kiegroup/kie-tools/pull/1234

[2022-09-14 23:16] romartin commented on #1220
Thanks  @krakzk for the feedback. Closing the issue for now. Please feel free to reopen or create a new ticket if any further issues or Qs. Thanks!

[2022-09-14 23:16] #1220 closed

[2022-09-15 05:00] krakzk commented on #1224
@moaazabir  THank you for raising the question.
@romartin  What if i am running th stunner editor as a standalone? And i get the Users/Actors and Groups as a JSON response invoking an API?

[2022-09-15 18:07] krakzk commented on #1224
The solution final is present in the below link
[](https://stackoverflow.com/questions/73698809/add-custom-actors-and-groups-in-kogito-user-task/73715252?noredirect=1#comment130192756_73715252)

[2022-09-15 19:10] ederign commented on #1218
@deepa0806 the goal of standalone editors is to provide only an embed editor and not a full suite with features like git integration.

If you want to use features like git integration etc., you should use https://sandbox.kie.org/

Thanks

[2022-09-15 19:10] #1218 closed

[2022-09-15 19:11] #1224 closed

[2022-09-15 19:13] ederign commented on #1179
@MBoegers feel free to reopen if the issue is not fixed!

[2022-09-15 19:13] #1179 closed

[2022-09-16 05:03] deepa0806 commented on #1218
Thanks for your reply.
But if am using sandbox url..my gitlab url is not working...when I try to
open bpmn file from my gitlab url..it is giving error.

Thanks & Regards,

Deepa

On Fri, 16 Sept 2022, 00:40 Eder Ignatowicz, ***@***.***>
wrote:

[2022-09-16 14:48] deepa0806 commented on #1218
Dear,

In standalone also am facing issues.
1. Downloaded Java script files and kept in folder and imported in js...it
is throwing error as "could not load existing sourcemap of
src/bpmn/index.js".

2. It is working fine when we directly host js files in html page.

3. It is not working when we add package.json file. It is throwing the
exception as " could not load existing sourcemap of /bpmn/inde

[2022-09-22 00:59] tiagobento commented on #1145
@SigmaOutdoors Following the discussion on Zulip, closing this issue.

[2022-09-22 00:59] #1145 closed

[2022-09-23 12:09] MBoegers commented on #1179
Hi, sorry for not responding here, whole was family was _attacked_ by flue.
I can verify that the button is enabled at every time and the dialog provides expected Java classes, at least for KIE 8 ;)
Thanks for the fix!

[2022-10-03 09:40] krakzk opened #1251 "Reload setup for BPMN runtime editor in Intellij"
I have Intellij 2021.3.2 Community edition installed in my system. But I am unable to follow up the setting to get the reload and on the go update for the BPMN editor code (even only the CSS would do).
Is there any steps I could follow ?
The doc found in the repo seems to be for Intellij 15 and not able to set that up either.

Using different editor like VSCode is also accepatble, if any setup ste

[2022-10-10 20:25] romartin commented on #1251
Hello @krakzk

Please take a look at the updated [README](https://github.com/kiegroup/kie-tools/blob/main/packages/stunner-editors/kie-wb-common-stunner/kie-wb-common-stunner-sets/kie-wb-common-stunner-bpmn/kie-wb-common-stunner-bpmn-kogito-runtime/README.md) for running the bpmn editor showcase app. The configurations for making the app to run are quite simple, and they do apply also for latest I

[2022-10-11 18:13] KaueReinbold opened #1272 "Unable to import Java classes: Illegal char<:> at index 4"
**Describe the Bug**

I am unable to import java classes. When typing the name of the class in the search box, no class appear.
In Developer tools I see following error:

[code]

I was following this blog post entry https://blog.kie.org/2022/05/dmn-types-from-java-classes.html. I tried creating my own project and also cloned examples repository. Same issue on both.

**Steps to Reproduce**

1. open

[2022-10-11 19:57] yesamer commented on #1272
HI @KaueReinbold.
Thank you for reporting that.
Most likely, this is a regression introduced in version 0.23.0. Please revert the extension to version 0.22.0 to verify. In the meantime, I'll provide a fix.

[2022-10-12 13:35] KaueReinbold commented on #1272
Hello @yesamer,
Thank you for the response, I tried previous versions until v0.19.0, and the problem still happens.
I created a [repository](https://github.com/KaueReinbold/dmn-quarkus-example) with the code I am using if I am missing anything by any chance.

[2022-10-12 17:54] KaueReinbold opened #1273 "Editor: <dmn:itemDefinition> with more than 10 <dmn:itemComponent> appears in other section on the UI"
**Describe the Bug**

After adding more than 10 items under a Data Type, the child elements appear expanded over other data types.

**Steps to Reproduce**

1. Open a DMN on the Editor VSCode/Kie sandbox;
2. Go to Data Types;
3. Add more than 10 items;
4. Go to the Editor;
5. Go back to Data Types;
6. You will see the items going over other types;

![image](https://user-images.githubusercontent.com

[2022-10-14 14:20] msusicky opened #1281 "DMN editor - decision tables are slow"
Hi,
we have one larger DMN which is using decision tables. It is slower and slower and after some investigation we think that it is caused by decision tables. Every field no matter if it is filled or not, is represented in XML as '-'. Then it grows and grows and if you have more inputs and rows, it grows quadratically.
I've tried to check and find where exactly is this solved but I'm not FE develo

[2022-10-15 11:30] yesamer commented on #1281
Hi @msusicky, thank you for reporting that.
Yeah, I noticed the slowness opening that Decision Table.
We have big plans to totally revisit that component in the near future: a refactoring of that component is currently in progress. The editor gives you the opportunity to test the new version of the component, in this way:
Above the Decision Table, you should see this section:
<img width="908" alt=

[2022-10-15 11:46] yesamer commented on #1272
https://issues.redhat.com/browse/KOGITO-8119

[2022-10-15 11:49] yesamer commented on #1273
https://issues.redhat.com/browse/KOGITO-8142

[2022-10-15 12:06] krakzk commented on #1251
Not able to the GWT configuration setting.
IntelliJ IDEA 2021.3.2 (Community Edition) -  This my IDE spec.
Tried installing the GWT support plugin available in the Marketplace, still no success.

Java 17.0.2 is being used

[2022-10-16 20:48] msusicky commented on #1281
Thanks for your answer -> in fact we are having more than 15k fields in multiple decision tables in one huge decision process and it takes minutes to load this DMN. (Business central/Drools) We will definitely try to split the DMN but do you have any estimate when the new coponent will be available and the old one discarded?
Thanks!

[2022-10-17 08:15] yesamer commented on #1281
@msusicky At this moment I don't have a precise ETA to share. Undoubtedly, that represents one of the most important tasks for the short-medium terms plan of the editor development, we will definitely invest time to complete the component transition.  Stay tuned with us for more precise updates.

[2022-10-17 11:21] msusicky commented on #1281
Is it possible to somehow compile / turn off completely the old version of editor and use only the new one? When we import the DMN it is taking so long to load it and we'd like to test the new editor only. (it will hopefully approve that this is the bottleneck we have there)

[2022-10-24 09:42] yesamer commented on #1273
Hi @KaueReinbold.
I tried to reproduce your issue and:
- The DMN file you posted above is invalid, thus I can't open it.
- The issue doesn't reproduce in my local following your steps, please check the below video:

<img width="1904" alt="Screenshot 2022-10-24 at 11 31 06" src="https://user-images.githubusercontent.com/16005046/197497522-8085f544-65a6-450b-b8aa-2da307ce8974.png">

Are some steps m

[2022-10-24 13:25] yesamer commented on #1281
@msusicky Of course that it's possible. Despite this, my recommendation is to **_don't use_** the new Boxed Expression in production, because the component is still not mature, and not well integrated with the DMN Editor.
Basically, the new component is still a work in progress and has not been properly tested.
Anyway, if this performance issue is critical for you and your organization's needs, yo

[2022-10-24 13:41] KaueReinbold commented on #1273
Hello @yesamer,
Just to avoid versioning conflict with VSCode and OS. I used the [Kie Sandbox](https://sandbox.kie.org/) and I recorded this video:
https://recordit.co/UxPiiAryJa

After adding more than 10 types in a structure and collapsing the Data Type structure it will overlap others created in the UI only.

Here is the file created on this video:

[code]

Let me know if I can help with someth

[2022-10-25 08:36] yesamer commented on #1273
@KaueReinbold Now I'm able to reproduce the issue, thank you. The missing part was the Structure item collapse.

[2022-10-25 08:38] yesamer commented on #1272
@KaueReinbold PR merged. The fix will be available `0.26.0`. Unfortunately, I missed the `0.25.0` release.

[2022-10-31 08:35] msusicky commented on #1281
Hi, thanks. I'm playing with the new editor but it is still slow - I have troubles with even loading DMN to the editor. I've checked the memory consumption and it is accumulating during the load to a hundreds of MB and when it is loaded then it drops to ~ 100MB.
We've tested it on two computers and on newer CPU it is significantly faster (3x). Intel 8850H vs 11850H. I will continue with the invest

[2022-11-02 08:23] yesamer commented on #1281
Hi @msusicky, thank you for your analysis and your contribution.
Of course, the marshaller module requires performance optimization. We decided to increase the priority of this task, so the good news is we'll focus on this in the next few days.
About your questions:
- To find the location to enable the new Boxed Expression, you can refer to my branch and compare it with the main branch;
- The mars

[2022-11-02 08:26] yesamer commented on #1272
Closing as Resolved - @KaueReinbold please feel free to reopen if the fix is not applied in `0.26.0` as expected.

[2022-11-02 08:26] #1272 closed

[2022-11-03 11:52] msusicky commented on #1281
Hi @yesamer , I have an interesting news for you. I've worked on this issue further and I have two findings:

- If there is a huge hardcoded string as a feel expression, then the hashCode javascript function is extremely slow. We have ~ 20kB JSON string hardcoded for testing purposes and after a removal it is faster.
- Used GWT is old, there is a possibility to upgrade to version 2.10. When I did

[2022-11-03 12:45] yesamer commented on #1281
@msusicky thank you for your very interesting findings!! I already opened 2 tickets based on your analysis. Can you please share a reproducer for the first case you mentioned?

[2022-11-03 13:45] msusicky commented on #1281
I cannot send the original one (NDA) but will try to prepare some anonymized example in the following days.

[2022-11-04 20:22] tiagobento opened #3722 "OAuth support for Git providers on KIE Sandbox"
- Support for OAuth Authentication for GitHub, Bitbucket, and GitLab
- Evaluate using https://www.npmjs.com/package/oauth, other Java-based, or implementing our own [1] (Quarkus-based)
- Must be generic, as we can have multiple OAuth apps that need to work (e.g. GitHub, Bitbucket, GitLab etc)
- Configure GitHub and Bitbucket apps and its secrets/clientKeys on our CI / Release jobs
- We’re going to

[2022-11-04 20:46] tiagobento opened #3723 "Create custom component for Context type on DMN Runner"
New component must be created and the expressions it supports must be checked. The expressions inside a Context type are FEEL expressions, so we'll have to check if we can support validation FEEL expressions inside the Context type or not.

We should also evaluate if it's possible to use Monaco to provide a rich text editor for this type.

### Further enhancements
It seems `context` type to be pro

[2022-11-07 10:03] DarkSined opened #1311 "Missing to load WorkDefinitions.wid while working in workspace mode"
Hi,

I created a jBPM project with the following modules:
- business-application-kjar
- business-application-service

I uploaded them to a vscode workspace.
Opening the .bpmn2 files I don't see the custom work items defined in the WorkDefinitions.wid file
Opening the files as a single folder instead loads them correctly

![Screenshot 2022-11-07 at 11 02 07](https://user-images.githubusercontent.co

[2022-11-07 22:12] msusicky commented on #1281
Identified two more interesting things - 1. M1 Apple is approximately two times faster than 11850H. 2. Probably there is a trouble with function computeGraphHashCode, we have larger graph and it looks that we have 30+ layers - see the stacktrace. I've tried to find this functionality in code but was not successful yet. We use heavilly DRD diagrams.
![image](https://user-images.githubusercontent.co

[2022-11-08 14:42] ederign commented on #1311
@DarkSined this is the current expected behavior. You can only see the wid, if you open it the root project as you did on screenshot 2.

[2022-11-08 14:43] #1311 closed

[2022-11-08 14:44] ederign commented on #1311
Sorry about the multiple open/close on this issue. My browser got a little funky.

[2022-11-14 05:24] kstan79 opened #1326 "What is the run time engine for BPMN file"
I notice this bpmn editor in vscode, it look promising and I wish to understand deeper how to bpmn file been use in programming. Which workflow engine can process this file?

[2022-11-16 10:17] yesamer commented on #1281
Hi @msusicky, I experimented a bit with the new GWT 2.10 version. During my experiments, I didn't notice such a huge performance improvement. The tested scenario is: DMN Editor opening and DMN file loading.
Depending on the DMN assets size, (from 100 k to 1 MB ~) I observed no more than 1 / 2 seconds of improvement.
Better than nothing, so the PR is coming.
In any case, I'm curious to know how you

[2022-11-16 16:24] tiagobento opened #3724 "Fix Gist experience for GHES on KIE Sandbox"
After https://github.com/kiegroup/kie-issues/issues/8, it is possible to configure KIE Sandbox to integrate with GHES instances. However, although GHES supports Gists normally, some Gist-related features of KIE Sandbox are still relying on the `gist.github.com` URL.

This task is for fixing those problems and make Gists 100% supported on GHES instances.

Some bugs I found while testing:
- Forking

[2022-11-16 18:58] porcelli commented on #1326
@kstan79 the generated files are able to be processed by [jBPM](https://jbpm.org) and [Kogito](https://kogito.kie.org)

[2022-11-21 12:05] johannescpk opened #1338 "BPMN Editor Extension: Endless loop via LiveShare"
Version: 0.25.0

# Current behavior

When joining a live share session, opening a .bpmn document is stuck in endless loop and high CPU load.

It does work for the live share host tho.

# Expected behavior

Loads the BPMN Editor UI even when joining a live share session and not hosting it.

[2022-11-21 15:37] msusicky commented on #1281
I have two examples here - version 3 takes on my PC around 8 sec and no difference in GWT 2.9 vs.2.10. Version 4 is 8 vs. 12 seconds !
[sample-slow-dmn.zip](https://github.com/kiegroup/kie-tools/files/10057836/sample-slow-dmn.zip) In version 4 I've added some empty decision tables only, so only 40kB of code. I think it has something to do with the graph complexity. And sorry - I think that the des

[2022-11-21 17:29] kstan79 commented on #1326
thanks, tested with kogito and feel it is perfect tools for business process development

[2022-11-21 17:29] #1326 closed

[2022-11-23 12:59] jomarko opened #3725 "Avoid duplicating names for new Context Entries on DMN Editor's Boxed Expression Editor"
Using new context expression editor, user can create multiple context entries simply by pasting copied cells from other spreadsheet tools or DMN Editor itself.

The issue is currently, that generated context entries, have duplicated names. Like imagine you copied column with four rows. Then the final Context Expression entries will be named like:
- ContextEntry-1
- ContextEntry-2
- ContextEntry-2